/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	  font-family:Calibri,Arial, Helvetica, sans-serif; font-size:12px;
	 color:#9297a6;
	 
}

#TB_secondLine {
	 font-family:Calibri,Arial, Helvetica, sans-serif; font-size:12px;
	 color:#9297a6;
}

#TB_window a{color:#1fd0fc;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #9297a6;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 0px solid #525252;
	text-align:left;
	top:48%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
	border-top: 0px solid #666;
	border-left:0px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 0px 15px;
	float:left;
}

#TB_closeWindow{
	height:15px;
	padding:11px 15px 0px 0;
	float:right;
	color:#666;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}

#TB_title{
	background-color:#e8e8e8;
	height:27px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}


#TB_closeWindow ul{ list-style-type:none; padding:0; margin:0;}
#TB_closeWindow ul li{  float:left; display:inline; padding:0; margin:0;}
#TB_closeWindow ul li a{ width:16px; height:16px; display:block;}
#TB_closeWindow ul li a.yellow{ display:block; padding:0; margin:0; width:16px; height:16px; background:url(../images/star-yellow.png) left top no-repeat;}
#TB_closeWindow ul li a.grey{ display:block; padding:0; margin:0; width:16px; height:16px; background:url(../images/star-grey.png) left top no-repeat;}
.line{width:96%; height:1px; background:#e1e1e1; padding:0; margin:5px 2%;}
.downloadpart{float:left; display:block; margin:0 0 3px 15px; width:180px; color:#0d346c;}
#download-pop{ color:#9297a6;}
#download-pop a{ color:#4c6aa9!important;}
#report-pop{ color:#9297a6;}
#report-pop a{color:#4c6aa9!important;}
.like-con{float:right; display:block; margin:0 0px 0 0px; width:160px; padding:0 0 0 10px;}
.like-con ul{ list-style-type:none; padding:0; margin:0;}
.like-con ul li{  float:left; display:inline; padding:0; margin:0; background:url(../images/like.png) left 5px no-repeat;}
.like-con ul li:first-child{  float:left; display:inline; padding:0; margin:0; background:none;}
.like-con ul li a{  height:16px; display:block; padding:0 5px 0 10px; color:#4c6aa9!important;}

.TB_WindowLeft {width:460px; float:left; display:block}
.TB_WindowRight {width:305px; float:right; display:block}