	



<div id="page-footer">



	<div class="navbar">

		<div class="inner"><span class="corners-top"><span></span></span>



		<ul class="linklist">

			<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>

				<!-- IF not S_IS_BOT -->

					<!-- IF S_WATCH_FORUM_LINK --><li <!-- IF S_WATCHING_FORUM -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->

					<!-- IF U_WATCH_TOPIC --><li <!-- IF S_WATCHING_TOPIC -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li><!-- ENDIF -->

					<!-- IF U_BOOKMARK_TOPIC --><li class="icon-bookmark"><a href="{U_BOOKMARK_TOPIC}" title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->

					<!-- IF U_BUMP_TOPIC --><li class="icon-bump"><a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li><!-- ENDIF -->

				<!-- ENDIF -->

			<li class="rightside">
                            
                            <!-- IF not S_USER_LOGGED_IN-->
                                <a href="javascript:;" onclick="openLogin();">{L_THE_TEAM}</a> &bull;
                            <!-- ELSE -->
                                <!-- IF U_TEAM -->
                                    <a href="{U_TEAM}">{L_THE_TEAM}</a> &bull; 
                                <!-- ENDIF -->
                            <!-- ENDIF -->
                            
                            
                            
                            
                            
                            <!-- IF not S_IS_BOT -->
                                <a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> &bull; 
                            <!-- ENDIF -->
                            {S_TIMEZONE}
                        </li>

		</ul>



		<span class="corners-bottom"><span></span></span></div>

	</div>



	<div class="copyright"><!--Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group-->

	

		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->

		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->

		<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->

	<div class="footer">

   <div class="footer-inner">

		<div class="footer-right">
			<ul>
				<li><span>&copy; 2012 ChrionGaming. All rights reserved.</span></li>
				<li>|</li>
				<li><a href="/termsconditions.php">Terms & Conditions</a></li>
				<li>|</li>
				<li><a href="/privacypolicy.php">Privacy Policy</a></li>
				
			</ul>
		</div>
      <div class="footer-left">
         <ul style="float: left;">
			
            <li><a href="/contactus.php">Contact Us</a></li>
            <li>|</li>
            <!--li><a href="#">Forum</a></li>
            <li>|</li-->
            
            <li><a href="/support.php">Support</a></li>
            <li>|</li>
			<li><a href="/find_training_partner.php">Find Training Partner</a></li>
            <li>|</li>
            <li><a href="/findcoach.php">Find Coach</a></li>
            <li>|</li>
            <li><a href="/howitworks.php">How It Works</a></li>
            <li>|</li>
            <li><a href="/index.php">Home</a></li>
         </ul>
      </div>

	</div>
	</div>

	</div>

</div>



</div>



<div>

	<a id="bottom" name="bottom" accesskey="z"></a>

	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

</div>

</div>
<script type="text/javascript" src="/jss/bottomJs.js"></script>
</body>

</html>