<!-- INCLUDE simple_header.html -->

<h2>{L_WHOIS}</h2>

<div class="panel rounded">
	<div class="inner">

	<div class="postbody"><div class="content">
		<pre>{WHOIS}</pre>
	</div></div>

	<span class="corners-bottom"><span></span></span></div>
</div>
<a  href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html -->