@charset "utf-8";
/* jQuery-Ajax Auto Suggest v.1.0 */
/* Created by Isaac Oslund | isaac@oslund.ca  */

/*.ausu-suggest p{ background:url(../images/form_sprite.png) no-repeat -691px -10px; margin:0 10px 15px 150px; width:158px; height:43px; float:left; display:block}
.ausu-suggest p input { background:none; border:0px solid; padding:10px 0 10px 10px; width:140px}

/*.ausu-suggest input
{
    padding:6px;
    border:1px #CCC solid;
    font-size:14px;
}

.ausu-suggest input
{
    padding:6px;
    border:1px #CCC solid;
    font-size:14px;
}
*/
.ausu-suggestionsBox
{
    position: absolute;
    left: 0px;
    top:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 26px 0px 0px 0px;
    width: 200px;
    padding:0px;
    color: #fff;
    display: none;
    padding: 0 0 0 0;
	z-index:1201;
	
}

.ausu-suggestionsBox ul 
{
    list-style:none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #CCCCCC;
	border:0px solid #676767;
}

.ausu-suggestionsBox ul li a
{
    display: block;
    text-indent:  4px;
    width: 100%;
    color: #676767;
    text-decoration: none;
    padding: 6px 0 6px 0;
    border-bottom:0px solid #676767;
}

.ausu-suggestionsBox ul li a:hover
{
     color: #ffffff;
     background-color: #0077BC;
}

.ausu-load { background: url(../images/loader.gif) right no-repeat; }

.ausu-suggest
{
    position:relative;
    float: left;
}

.selected a
{
    /*background-color: #50372C;*/
	color:#000000;
}

