
.wrap {width: 960px; margin: 0 auto;}
.demo-container {padding: 0; float: left; width:257px;}
.demo-container h4 {font-size: 14px; margin: 0 0 5px 0;}
.clear {clear: both;}
.text {margin-bottom: 1em; line-height: 1.5em;}
.dcjq-count {float: right;}



.graphite .accordion{ font-size:14px; border-top: 1px solid #cccccc; border-right: 1px solid #cccccc; border-left: 1px solid #cccccc;}
.graphite .accordion, .graphite .accordion li { font-size:14px; font-weight:normal; margin: 0; padding: 0; border: none;}

.graphite .accordion a {padding: 10px 10px 10px 10px; background: #cccccc; text-decoration:none; display: block; color: #666; border-bottom: 1px solid #efeeee; border-top: 1px solid #cccccc; position: relative; font-weight:bold}
.graphite .accordion ul a {background: #e2e1e1 url(../images/checkbox.gif) no-repeat 8px 7px; font-weight:normal;}
.graphite .accordion ul li a{ padding: 5px 10px 5px 27px;}
.graphite .accordion ul a:hover {background: #e2e1e1 url(../images/checkbox.gif) no-repeat 8px 9px; font-weight:normal;}
.graphite .accordion ul a.selected {background: #e2e1e1 url(../images/checkbox.gif) no-repeat 8px -21px; font-weight:normal;}
.drop-down {float:left; display:block; width:195px; height:27px; padding:5px 3px 5px 5px; background:#f5f5f5; margin:5px 5px 0 5px ; font-size:11px; color:#333; border:1px solid #ccc;}

.graphite .accordion ul li.more a { background:none; width:65px; float:right; border:#ff0000 0px solid}
.graphite .accordion ul li.more a em {background: url(../images/menu_single.gif) no-repeat left top; font-weight:normal; color:white; padding:0 0 0 9px; margin:0; display:block}
.graphite .accordion ul li.more a em span {background: url(../images/menu_single.gif) no-repeat right top; font-weight:normal; color:white; padding:3px 9px 2px 0; display:block;}

.graphite .accordion a.dcjq-parent, .graphite .accordion a.dcjq-parent:hover {background: #cccccc }
.graphite .accordion a.dcjq-parent.active {}
.graphite .accordion a .dcjq-icon {position: absolute; top: 50%; left: 14px; width: 34px; margin-top: -17px; height: 34px; background: url(../images/arrow_black_right.png) no-repeat 0 center;}


.graphite .accordion a.dcjq-parent.active .dcjq-icon {background: url(../images/arrow_black_down.png) no-repeat 0 center;}
.graphite .accordion a:hover {background: #cccccc; color: #434343;}
.graphite .accordion a:active{}
.graphite .accordion, .graphite .accordion li ul li.dcjq-parent-li a { font-size:12px; font-size:bold; background: #e2e1e1; }
.graphite .accordion, .graphite .accordion li ul li.dcjq-parent-li a span {font-size:12px;color:#0077bc;}
/*
.graphite .accordion li ul li#avail_coun input {background: none repeat scroll 0 0 #F5F5F5;  border: 1px solid #CCCCCC; color: #333333; display: block;  float: left; font-size: 11px; margin: 5px 5px 0; padding: 5px 3px 5px 5px; width: 185px;}
*/
.graphite .accordion li ul li#avail_coun .ausu-suggestionsBox ul li { background: none repeat scroll 0 0 #F5F5F5;  border: 1px solid #CCCCCC; color: #333333; display: block;  float: left; font-size: 11px; margin: 5px 5px 0; padding: 5px 3px 5px 5px; width: 185px;}
.graphite .accordion li ul li#avail_coun .ausu-suggestionsBox ul li a { background:none; border:0px; padding:0; margin:0}

/*
.graphite .accordion li ul li#avail_coun input.button{background: none repeat scroll 0 0 #0077BC;
    border: 0 solid #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    float:right;
    font-size: 11px;
    height: 27px;
    margin: 5px 55px 5px 0px;
    padding: 5px 3px;
    text-transform: uppercase;
    width: 52px; }
*/
