/*****************/
/** jNotify CSS **/
/*****************/
#jNotify {
	position:absolute;
	/*background:  url('../images/info.png') no-repeat 15px center;*/
        background-color:#d8e6fc;
	color:#35517c;
	border:1px solid #a7c3f0;
	padding:10px;
	/*padding-left:50px;*/
	margin:15px;
	/*z-index:9999;*/
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jNotify a {color:#35517c !important;text-decoration:none;}

/******************/
/** jSuccess CSS **/
/******************/
#jSuccess {
	position:absolute;
	background: url('../success.png') no-repeat 15px center;
        background-color:#E6EFC2;
	color:#264409;
	border:1px solid #C6D880;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jSuccess a {color:#264409 !important;text-decoration:none;}



/****************/
/** jError CSS **/
/****************/
#jError {
	position:absolute;
	background:  url('../error.png') no-repeat 15px center;
        background-color:#FBE3E4;
	color:#8a1f11;
	border:1px solid #FBC2C4;
	padding:10px;
	padding-left:50px;
	margin:15px;
	z-index:9999;
	-moz-border-radius : 5px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#jError a {color:#8a1f11 !important;text-decoration:none;}

/** OVERLAY **/
#jOverlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:9998
}