
#shadowing
{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #CCA;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
}


#box 
{
	display: none;
	position: fixed;
	top: 10%;
	left: 10%;
	width: 400px;
	height: 470px;
	padding: 40px;
	margin:0;
	background-color: white;
	z-index:1200;
	overflow: auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 6px solid #818181;	
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;	
}

#boxtitle
{
	/*position:absolute;
	float:center;
	top:0;
	left:0;
	width:480px;
	height:24px;
	padding:0;
	padding-top:4px;
	left-padding:8px;
	margin:0;
	border-bottom:0px solid #0077bc;
	background-color: #818181;
	color:#fff;
	text-align:center;*/
}

/*.review { width:395px; padding:0; margin:0; }*/
.review form { padding:0; margin:0; border:0; }
.review form fieldset{ padding:0; margin:0; border:0; }
.review form fieldset label{ float:left; display:block; width:60px; text-align:right; padding:0 3px 10px 0; line-height:25px; margin:0; border:0; }
.review form fieldset textarea{ float:left; display:block; width:300px; height:100px; background:#ffffff; padding:3px; margin:0 5px 5px 0 ; border:1px solid #ccc; color:#000000; }
.review form fieldset input.submit{  float:left; display:block; width:51px; background:url(../images/sprite.gif) no-repeat -699px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#ffffff; padding:0;  margin:0 5px 0 0 ; border:0px solid #ccc; cursor:pointer; }
.review form fieldset select{ float:left; display:block; width:177px; height:27px; padding:3px; margin:0 5px 10px 0 ; border:1px solid #ccc; }
.review form fieldset input.submit:hover{  float:left; display:block; width:51px; background:url(../images/sprite.gif) no-repeat -648px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#747474; padding:0;  margin:0 5px 0 0 ; border:0px solid #ccc; cursor:pointer; }
.review form fieldset input.cancel{  float:left; display:block; width:64px; background:url(../images/sprite.gif) no-repeat -584px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#ffffff; padding:0; line-height:26px; margin:0 5px 0 0 ; border:0px solid #ccc; cursor:pointer; }
.review form fieldset input.cancel:hover{  float:left; display:block; width:64px; background:url(../images/sprite.gif) no-repeat -520px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#747474; padding:0;  margin:0 5px 0 0 ; line-height:26px; border:0px solid #ccc; cursor:pointer; }


#shadowreply
{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #CCA;
	z-index:10;
	opacity:0.5;
	filter: alpha(opacity=50);
}


#replybox 
{
	display: none;
	position: fixed;
	top: 20%;
	left: 20%;
	width: 400px;
	height: 200px;
	padding: 48px;
	margin:0;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 6px solid #818181;
	background-color: white;
	z-index:101;
	overflow: auto;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;	
}

#replytitle
{
	position:absolute;
	float:center;
	top:0;
	left:0;
	width:450px;
	height:24px;
	padding:0;
	padding-top:8px;
	left-padding:8px;
	margin:0;
	border-bottom:0px solid #0077bc;
	background-color: #818181;
	color:#fff;
	text-align:center;
}