/* Corners */
.notify_nw,
.notify_ne,
.notify_se,
.notify_sw{
	float: left;
	height: 20px;
	width: 20px;
	background: url(../images/corners.png) no-repeat;
}

/* Sides */
.notify_w,
.notify_e {
	float: left;
	width: 20px;
	background: url(../images/sides.png) repeat-y;
}

/* Center and Bottom */
.notify_center,
.notify_bottom {
	clear: left;
}

/* Top and Bottom */
.notify_n,
.notify_s {
	float: left;
	background: url(../images/corners.png) no-repeat;
	height: 20px;
	width: 250px;
}

.notify_content {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    float: left;
    background: #D9EDF7;
    color: #3A87AD;
    width: 250px;
    
    padding: 5px;
        
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    ms-box-shadow: 0px 5px 15px rgba(0,0,0,0.4);
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.notify_center {
	background: #1E211F;
}

.notify_n {
/*	background-position: -16px -49px;
	background-repeat: repeat-x;*/
}

.notify_ne {
	/*background-position: -20px 0;*/
}

.notify_se {
	/*background-position: 0 -20px;*/
}

.notify_sw {
	/*background-position: -20px -20px;*/
}

.notify_s {
/*	background-position: -16px -70px;
	background-repeat: repeat-x;*/
}

.notify_e {
	/*background-position: -20px 0;*/
}

.notify {
    clear: left;
    float: left;
    list-style: none;
    margin: 10px;
        
    
}

#notify_area {
	position: fixed;
	bottom: 45px;
	right: 10px;
        z-index: 2;
}

.notify iframe {
	border: 0;
}

.notify iframe body {
	margin: 0;
}