@CHARSET "ISO-8859-1";

.player{
	width: 310px;
	cursor: pointer;
	vertical-align: middle;
}
.player_inner{
	padding: 5px;
	width: 288px;
	height: 20px;
	display: block;
	overflow: hidden;
	text-decoration: none;
}

.playersWrapper{
	position: fixed;
	z-index: 99999999999999;
	bottom: 45px;
	right: 70px;
	display: none;
	background-color:#fff;
	background:rgba(255,255,255,0.98);
	border:1px solid #c5c5c5;
	-webkit-box-shadow:0 3px 8px #000;
	-webkit-border-radius:3px;
	box-shadow: 0 3px 8px #000;
	overflow: hidden;
}
.playersInner{
	padding-right: 10px;
	margin: 40px 5px 5px 5px;
	overflow: hidden;
	height: 264px;
}
.players_title{
	border-bottom: 1px solid CCC;
	height: 30px;
	line-height: 30px;
	box-shadow: 0 3px 5px #CCC;
	position: absolute;
	background: white;
	color: #000;
	font-weight: bold;
}
.player_offline{
	background: none repeat scroll 0 0 #E7EBF2 ;
    opacity: 0.6;
}

.player_online{
	background: none repeat scroll 0 0 #E7EBF2 ;
    opacity: 0.6;
}

.player_busy{
	background: none repeat scroll 0 0 #E7EBF2 ;
    opacity: 0.6;
}

.player_away{
	background: none repeat scroll 0 0 #E7EBF2 ;
    opacity: 0.6;
}

.player_title{
	font-weight: bold;
	margin-bottom: 5px;
}
.player_text{
	margin-bottom: 5px;
}
.player_date{
	font-weight: bold;
}

.players_quantity{
	background-color: #C00;
	padding: 3px 5px;
	text-align: center;
	position: absolute;
	top: -10px;
	height: 10px !important;
	line-height: 13px;
	margin-left: 60px !important;
	box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 6px #666;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: none;
}

.chats{
	position: fixed;
	z-index: 99999999999999;
	bottom: 45px;
	right: 408px;
	background-color:#fff;
	background:rgba(255,255,255,0.98);
	border:1px solid #c5c5c5;
	-webkit-box-shadow:0 3px 8px #000;
	-webkit-border-radius:3px;
	box-shadow: 0 3px 8px #000;
	overflow: hidden;
}

.chatHldr{
	padding: 10px;
	width: 700px;
	height: 288px;
	display: block;
	overflow: hidden;
	text-decoration: none;
	background-color:#666;
}

.chatBox {
    height: 210px;
    overflow: hidden;
    padding: 10px;
}

.chatHeader {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 3px 5px #CCCCCC;
    color: #000000;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

a.closeChat {
    background: url("../images/close_button.png") no-repeat scroll 0 0 transparent;
    height: 26px;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 26px;
}