
body {
	text-align:center;
}

#timer {
	float: left;
	width: 20%;
}

#timer_title {
}

#chat {
	float: left;
	width: 60%;
}

#chat_title {
}

#schedule_list {
	float: left;
	width: 20%;
	height:100%;
}

#schedule_list_title {
	height:20%;
	background-color:#999;
	padding: 2 0 0 0;
}

#schedule_list_content {
	width: 100%;
	background-color:#666;
	overflow:auto;
	height:80%;
}

div.points-block {
	height: 75px;
	width: 100%;
	background-color:#000000;
	margin-bottom:80px;
	text-align:center;
}

span#points-title {
	background-color:#808080;
	padding:1.5px 3px;
	white-space: nowrap;
	float:top;
	border-color: #ffffff;
	border-style: solid;
}

div.points-wrapper {
	position:absolute;
	left:50%;
}

div.points-item {
	display: table;
	color:#ffffff;
	background-color:#0077BC;
	font-weight:bold;
	font-size:26px;
	text-align:center;
	height: 75px;
	width: 100px;
	float:left;
	margin-top:10px;
	margin-right: 20px;
}

.point-value {
	display: table-cell;
	vertical-align: middle;
}

.rounded-corners {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
}

.highlightit {
	/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
		filter: alpha(opacity=50);
	/* Netscape */
		-moz-opacity: 0.5;
	/* Safari 1.x */
		-khtml-opacity: 0.5;
	/* Good browsers */
		opacity: 0.5;
}

.highlightit:hover {
	/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
		filter: alpha(opacity=100);
	/* Netscape */
		-moz-opacity: 1;
	/* Safari 1.x */
		-khtml-opacity: 1;
	/* Good browsers */
		opacity: 1;
}

.choice-clicked {
	/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	/* IE 5-7 */
		filter: alpha(opacity=100);
	/* Netscape */
		-moz-opacity: 1;
	/* Safari 1.x */
		-khtml-opacity: 1;
	/* Good browsers */
		opacity: 1;
}

/* communication php
---------------------------------------------- */
.comunication_title {
	font-size:24px;
}

#user_chat_wrapper {
	width:100%;
	height:200px;
	overflow:hidden;
	background-color:#999;
}

#schedule_list ul {
	width:100%;
	padding-left:0;
	margin:0;
}

#schedule_list ul li {
	list-style-type:none;
	height:50px;
	border: 1px solid #000;
	text-align: center;
	margin:0 0 1 0;
	width: 99%;
	float: left;
	display:block;
}

.comunication_title A {
	font-size:12px;
}

.comunication_title A:link {
	text-decoration: none
}

.comunication_title A:visited {
	text-decoration: none
}

.comunication_title A:active {
	text-decoration: none
}

.comunication_title A:hover {
	color: red;
}
