.ui-dropdownchecklist
{
	/*height: 20px;
	border: 1px solid #ddd;
	border-right: 0;
	
	padding-right: 17px; /* background dropdown.png image */
	float:left; display:block; width:172px; height:22px; padding:2px; margin:0 5px 10px 0 ; border:1px solid #ccc;
	background: #fff url(../images/dropdown.png) no-repeat center right;
}
.ui-dropdownchecklist-hover, .ui-dropdownchecklist-active
{
	background-image: url(../images/dropdown.png); 
	border:1px solid #ccc;
}

.ui-dropdownchecklist-text
{
	font-size: 14px;
	line-height: 20px;    
}

.ui-dropdownchecklist-dropcontainer
{
	background-color: #fff;
	border: 1px solid #999;
}

.ui-dropdownchecklist-item
{
	
}

.ui-dropdownchecklist-item-hover
{
	background-color: #39f;
}

.ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text
{
	color: #fff;
}

.ui-dropdownchecklist-group
{
	font-weight: bold;
	font-style: italic;
}

.ui-dropdownchecklist-indent
{
	padding-left: 20px;
}
