/* CSS Document */
body{ background:#ffffff; padding:0; margin:0; font:normal 12px/16px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff;}
a{ color:#FFFFFF; text-decoration:underline;}
a:hover{ text-decoration:none;}
div,span,p,img,ul,li,a,ol,em,ins,hr,form,fieldset,legend,label,input,select,textarea,h1,h2,h3,h4,h5,h6,table,tr,td{ padding:0; margin:0;}
ul{ list-style-type:none;}
.clear{ padding:0; margin:0; line-height:0; font-size:0; height:0; clear:both;}
.spacer{ padding:0; margin:0; line-height:0; font-size:0; height:0; clear:both;}


h2{ padding:0 0 5px 0; margin:0 0 10px 0; font:normal 24px/28px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#0077bc; border-bottom:1px dotted #9f9f9f;}

/*p{font:normal 12px/15px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#040404;}

p span{color:#689CB3;}*/

p{ color:#000000}
input.box{ width:150px; padding:2px 0 0 2px; margin:2px 0; font-size:12px; color:#050F1A; height:16px; border:1px solid #D4D0C8; background-color:#ffffff;}


input.larger{ width:200px; padding:2px 0 0 2px; margin:2px 0; font-size:12px; color:#050F1A; height:16px; border:1px solid #D4D0C8; background-color:#ffffff;}

input.big{ width:110px; padding:2px 0 0 2px; margin:2px 0; font-size:12px; color:#050F1A; height:16px; border:1px solid #D4D0C8; background-color:#ffffff;}

input.mid{ width:97px; padding:2px 0 0 2px; margin:2px 0; font-size:12px; color:#B7B7B7; height:16px; border:1px solid #666666; background-color:#2E2E2E;}

textarea.bigger{ width:198px; padding:2px; margin:2px 0; font-size:12px; color:#050F1A; height:60px; border:1px solid #D4D0C8; background-color:#ffffff;}

input.checkbox{ padding:0; margin:0; width:16px; height:16px;}
.maintext { color:#040404;}

.label_header {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  padding: 0px;
  text-transform: uppercase;
  font-size:12px;
  width: 200px;
  float:left;
  width:200px;
  text-align:right;
  font-weight:bold;
  margin-right:10px;
  text-align:left;
}


.label_property_header {
   background-color: gray;
  color: black;
  font-weight: bold;
  padding: 0px;
  text-transform: uppercase;
  font-size: xx-small;
  width: 200px;
  float:left;
  width:200px;
  text-align:center;
  font-weight:bold;
  margin-right:10px;
  
}



/*...................Top Part.....................*/
.main{ width:948px; padding:0; margin:0 auto; position:relative;}
.header{ width:975px;padding:0px 0px 14px 0px;  margin:0 auto;}
.logoinner{ width:975px; padding:0; margin:10px 0 0px 0; border:0px solid blue;}
.header_inside{ width:954px; padding:0 18px 0 18px; margin:0 auto;}
.logo{ width:975px; padding:0 0 20px 0; margin:0;}
.logoNew{ padding:25px 0 0 0;}
.logoindex{ padding:10px 0 10px 0px;}
.header_right{ width:680px; float:left; display:block; padding:10px 0 0 0; margin:0;}
.top_links{ padding:0 0 10px 0; margin:0; }
.top_links ul{ padding:0; margin:0; float:right; text-align:right;}
.top_links ul li{ padding:0 6px 0 6px; margin:0; float:right; display:block; font-size:11px; font-weight:bold; color:#050F1A; background:url(../images/header_libg.gif) no-repeat left 3px;}
.top_links ul li.nobg{background:none;}
.top_links ul li a{ font-size:11px; font-weight:bold; color:#050F1A; text-decoration:none;}
.top_links ul li a:hover{ color:#FF0000; text-decoration:underline;}
.top_message{ padding:0 0 35px 0; margin:0; }
.top_message p{ font-size:11px; color:#050F1A;}
.top_message p span{color:#FF0000;}
.indexinner { width:975px; margin:0 auto; padding:10px 0 0 0; border:0px solid blue;}
.middle_body{ width:990px; padding:0; margin:0 auto 10px auto; border:1px solid #ccc; padding:5px;}
.login_outer{ width:432px; background:#e5e5e5; padding:0 0 0 0; height:231px; margin:5px auto; border:3px solid #c7c7c7; position:relative;}
.loginouter{ width:432px; background:#e5e5e5; padding:20px 0 0 0; height:120px; margin:5px auto; border:3px solid #c7c7c7; position:relative;}
.indexLogin{ width:390px; padding:0; border:0px solid blue;}
.indexLogin form{ width:350px; padding:0px 0 0 36px; margin:0;}
.indexLogin form fieldset{ width:350px; padding:0; margin:0; border:none;}

.indexLogin form fieldset label{ width:100px; padding:5px 0 0 0; margin:0; float:left; display:block; font:bold 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#7c7c7c;}

.indexLogin form fieldset label.fpass{ width:205px; padding:0; margin:0; float:left; display:block; font:bold 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-style:italic; color:#72A2B8;}

.indexLogin form fieldset label.big{ width:272px; padding:10px 0 0 0; margin:0; float:left; display:block; font:bold 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#7c7c7c;}
.indexLogin form fieldset label.big a{ font:bold 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; text-decoration:underline;}
.indexLogin form fieldset label.big a:hover{ text-decoration:none;}
.indexLogin form fieldset input{ width:241px; padding:2px 0 0 1px; margin:0 0 20px 0; float:left; display:block; font:normal 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:20px; background-color:#ffffff;}



.indexLogin form fieldset input.submit{ width:55px; padding:0 0px 0px 10px; margin:5px 0 0 0; height:27px; border:none; background:url(../images/button_login.gif) no-repeat; cursor:pointer; color:#FFFFFF;}
.indexLogin form fieldset input.submit:hover{ width:55px; padding:0 0px 0px 10px; margin:5px 0 0 0; height:27px; border:none; background:url(../images/button_login.gif) no-repeat 0 -28px; cursor:pointer; color:#FFFFFF; }



.indexLogin form fieldset input.ok{ width:65px; padding:0 0px 0px 2px; margin:5px 10px 0 0; height:27px; border:none; background:url(../images/button_login.gif) no-repeat; cursor:pointer; color:#FFFFFF;}
.indexLogin form fieldset input.ok:hover{ width:65px; padding:0 0px 0px 2px; margin:5px 10px 0 0; height:27px; border:none; background:url(../images/button_login.gif) no-repeat 0 -28px; cursor:pointer; color:#FFFFFF;}



.indexLogin form fieldset input.cancel{ width:65px; padding:0 0px 0px 5px; margin:5px 0 0 0; height:27px; border:none; background:url(../images/button_login.gif) no-repeat; cursor:pointer; color:#FFFFFF;}
.indexLogin form fieldset input.cancel:hover{ width:65px; padding:0 0px 0px 5px; margin:5px 0 0 0; height:27px; border:none; background:url(../images/button_login.gif) no-repeat 0 -28px; cursor:pointer; color:#FFFFFF;}

/*.leftLogin{ width:272px; float:left; display:block; border:1px solid blue;}*/

.rightLogin{ width:53px; float:left; display:block; padding:0 0 0 10px;}

.lerror { float:left; display:block; padding:0 0 0 34px; margin:12px 0 0 0; border:0px solid blue;}
#TransMsgDisplay { font-family:"Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:12px; color:#b0151b; padding:0px 0px 0px 0px; }
#TransMsgDisplay span.red{ font-family:"Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:12px; color:#b0151b; }
.records { font: normal 13px/16px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-style:italic; color:#9D9177;}
#myusername { font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:12px; color:#b0151b; padding:0px 0px 0px 0px;}
#mypassword { font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:12px; color:#b0151b;  padding:0px 0px 0px 0px;}
#myResponse{ font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:12px; width:262px; color:#b0151b; padding:0px ; /*border:1px solid blue;  position:absolute; left:35px; top:5px; border:0px solid blue;*/}

#myResponse li { list-style-type:none; float:left; display:block; width:308px; margin:0px; font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:12px; color:#d20404; padding:0px 0px 0px 0px; }
/*...................Footer Part.....................*/

.footer{ width:100%; font-size:11px; font-weight:normal; color:#ffffff; text-align:right; padding:0; }
.footerouter{ background:none; height:44px; color:#000000; margin:0 auto;  padding:20px 0 0 270px; /*border:1px solid blue;*/}
.footerb { margin:0 auto;  width:958px; /*height:288px;*/ color:#ffffff; border:0px solid blue;}


/*...................Forgot Password Part.....................*/

.forgotPassword{ width:325px; border:0px solid #525254; background:url(../images/fpassbg.jpg) no-repeat; height:171px; padding:0px 7px; margin:40px auto 0 auto; position:relative;}

.rightCross{ width:305px; text-align:right; padding:0px 0 0 0; border:0px solid blue;}

.rightCross img{ width:15px; height:15px; border:none; margin:0 0 0 3px; }

.forgotPassword form{ width:280px; padding:2px 0 0 2px; margin:0; }

.forgotPassword form fieldset{ width:280px; padding:0; margin:0; border:none;}

.forgotPassword form fieldset legend{padding:0 0 11px 0; font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#FDA702; border:1px solid blue;}

.forgotPassword form fieldset label{ width:280px; padding:10px 0 0 17px; margin:0; float:left; display:block; font:normal 13px "Lucida Sans Unicode", "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; text-transform:uppercase; color:#F4F4F4; border:0px solid blue;}

.forgotPassword form fieldset input{ width:242px; padding:15px 0 0 12px; margin:8px 0 11px 10px; float:left; display:block; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#040404; background:none; height:22px; border:0px solid #313136;}

.forgotPassword form fieldset input.ok{ width:48px; padding:0; margin:0 7px 0 15px; height:44px; border:none; float:left; display:block;}

.forgotPassword form fieldset input.cancel{ width:72px; padding:0; margin:0; height:44px; border:none; float:left; display:block;}

.cleargap { float:none; display:block; clear:both; margin:0; height:8px; padding:0; width:100%; }


/*...................Home Page Part.....................*/

.innerMid{ width:980px; margin:0; padding:0 10px 14px 0px; background:url(../images/mid_body.gif) repeat-y left top;}



.leftPart{float:left; width:228px; display:block; padding:0px; margin-left:0px; border:0px solid blue;}

.menuLeft{float:left; width:228px; display:block; border:0px solid blue;}

.menuLeft ul{ list-style-type:none; padding:0; margin:0;}

.menuLeft ul li{ width:219px; margin-bottom:2px; font:normal 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#BCBBBB;  background-color:#2E2E2E;}

.menuLeft ul li a{font:normal 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#BCBBBB; text-decoration:none; background:url(../images/left_li_a_bg.gif) no-repeat 9px 4px; padding-left:28px;}

.menuLeft ul li a:hover{color:#F9B31D; background:url(../images/left_li_a_hover_bg.gif) no-repeat 9px 4px;}



.rightPart{float:right; width:730px; display:block; padding:15px 0 0 0;}


.admininfo { background:#EFEFEF; border:1px solid #878787;}
/*...................Admin Details Page Part.....................*/

.admin_login{ width:406px; border:3px solid #B8B8B8

; background:#FFFFFF; padding:10px; margin:0; font:bold 12px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#474747;}

.admin_login form{ width:406px; padding:18px 0 0 0; margin:0;}

.admin_login form fieldset{ width:406px; padding:0; margin:0; border:none;}

.admin_login form fieldset label{ width:150px; padding:0; margin:0; float:left; display:block; font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#474747;}

.admin_login form fieldset input{ width:183px; padding:2px 0 0 2px; margin:0 0 10px 0; float:left; display:block; font:normal 10px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#474747; height:17px; border:1px solid #D4D0C8; background-color:#ffffff;}

.admin_login form fieldset input.update{ width:75px; padding:0; margin:0; height:22px; border:1px solid black; background:url(../images/black_bttnbg.gif) left top repeat-x black; font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; cursor:pointer; }



/*...................Left Menu.....................*/

.glossymenu{margin:0;padding: 0;width:230px; border: 0px solid #9A9A9A; border-bottom-width: 0;}

.glossymenu a.menuitem{font:normal 13px/28px "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, Verdana, sans-serif; color:#ffffff; display: block;position: relative;width: auto;text-decoration: none;background:url(../images/leftnav-libg.gif) no-repeat 9px 10px; padding-left:28px; background-color:#9f9f9f; height:28px; border-bottom:1px solid #ffffff;}

.glossymenu .menuitem:active{color:#ffffff; background:url(../images/leftnav-libg.gif) no-repeat 9px 10px; background-color:#689CB3;}

.glossymenu a.menuitem .statusicon{position: absolute;top: 5px;right: 5px;border: none;}

.glossymenu a.menuitem:hover{color:#ffffff;background:#0077bc; }

.glossymenu div.submenu{background:#5e5e5e; padding-bottom:1px;}

.glossymenu div.submenu ul{list-style-type:none; margin:0; padding:1px 2px 0 2px;}

.glossymenu div.submenu ul li{ background-color:#5e5e5e; font:normal 12px "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, Verdana, sans-serif; color:#ffffff;  border-bottom:1px solid #c6eaff; background:url(../images/leftnav-libg.gif) no-repeat 0 12px; margin:0 0 0 5px; padding:0 0 0 10px;}

.glossymenu div.submenu ul li a{display: block;font:normal 11px/28px "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, Verdana, sans-serif;text-decoration: none; padding-left: 10px; background-color:#5e5e5e; color:#ffffff; background-image:none;}

.glossymenu div.submenu ul li a:hover{color:#dbf1fd;}

.submenu{display: none}
.adminlogin{ width:725px; padding:0px; margin:0; font:normal 12px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; position:relative;}
.adminlogin form{ width:725px; padding:18px 0 0 0; margin:0;}
.adminlogin form fieldset{ width:725px; padding:0; margin:0; border:none;}
.adminlogin form fieldset label{ width:108px; padding:0; margin:0; float:left; display:block; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000;}
.adminlogin form fieldset label span{ color:#ff0000;}
.adminlogin form fieldset input{ width:300px; padding:2px 0 2px 2px; margin:0 6px 10px 0; float:left; display:block; font:normal 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:22px; border:1px solid #D8D8D8; background-color:#ffffff;}
.adminlogin form fieldset input.update{ width:80px; padding:0; margin:0;  background:url(../images/update.gif) no-repeat; height:35px; border:0px solid black; cursor:pointer; }
.adminlogin form p{font:normal 12px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; padding:0}

.textbox {width:300px; padding:2px 0 2px 2px; margin:0 0 10px 0; float:left; display:block; font:normal 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:22px;  border:1px solid #D8D8D8; background-color:#ffffff;}

.textbox-a {width:200px; padding:2px 0 2px 2px; margin:0 0 10px 0; float:left; display:block; font:normal 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:22px;  border:1px solid #D8D8D8; background-color:#ffffff;}

.textbox-sm {width:260px; padding:2px 0 2px 2px; margin:0 5px 10px 0; float:left; display:block; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:31px; font-style:italic; border:1px solid #D8D8D8; background-color:#f7f7f7;}



textarea.bigger{ width:300px; padding:2px 0 2px 2px; margin:0 0 10px 0; float:left; display:block; font:normal 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:62px; border:1px solid #D8D8D8; background-color:#ffffff;}
.datebox {width:168px; padding:2px 0 2px 2px; margin:0 0 10px 0; float:left; display:block; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:22px;  border:1px solid #D8D8D8; background-color:#ffffff;}
.selectbox {width:150px; padding:6px 0 8px 2px; margin:0 5px 10px 0; float:left; display:block; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:32px; font-style:italic; border:1px solid #D8D8D8; background-color:#FFFFFF;}


.selectbox-a {width:120px; padding:6px 0 8px 2px; margin:0 5px 10px 0; float:left; display:block; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000; height:37px; font-style:italic; border:1px solid #D8D8D8; background-color:#FFFFFF;}


.selectsmbox {width:168px; padding:6px 0 8px 2px; margin:0 5px 10px 0; float:left; display:block; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#72A2B8; height:37px; font-style:italic; border:1px solid #D8D8D8; background-color:#f7f7f7;}
/*...................News manager.....................*/

.mid_manager_serch {font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; background-color:#100F0F; padding:5px; border:1px solid #1B140F}
.searchhead { font:bold 12px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff;}
.searchtext{font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#FFFFFF; text-decoration:none; }

/*input.go{width:40px; padding:0; margin:0px 0 5px 0; height:34px; border:0px solid black; background:url(../images/gobttn.gif) no-repeat;cursor:pointer;}*/

.search-box { margin:0px 0 5px 0;}

input.addsadmin{  padding:0px; margin:0px; height:30px; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; border:1px solid #286531; text-transform:uppercase; background:url(../images/buttonbg.gif) repeat-x;cursor:pointer;}
input.cancel{width:59px; padding:0px 0 0px 0; margin:0px 0 0 6px; height:30px; font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; border:1px solid #286531; text-transform:uppercase; background:url(../images/buttonbg.gif) repeat-x;cursor:pointer;}

input.common{width:95px; padding:0; margin:0 0 0 0; height:21px; border:1px solid #666666; background:url(../images/black_bttnbg.gif) left top repeat-x black;font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; cursor:pointer;}

input.commonbig{width:130px; padding:0; margin:0 0 0 0; height:21px; border:1px solid #666666; background:url(../images/black_bttnbg.gif) left top repeat-x black;font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; cursor:pointer;}

input.common_small{width:65px; padding:0; margin:0 0 0 0; height:21px; border:1px solid #666666; background:url(../images/black_bttnbg.gif) left top repeat-x black;font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; cursor:pointer;}


.plaintext{font:normal 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#FFFFFF;}
.plaintxt{font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:13px; font-weight:normal; color:#000000;text-decoration:none; padding:0; margin:0;}

.plaintxt a{ color:#aa131a; text-decoration:underline;}
.plaintxt a:hover{ text-decoration:none;}

.fields {font:normal 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000;}

.lightbg { border:1px solid #878787;}
.addNews{font:bold 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#474747; padding:10px 0;}

.addNews a{font:bold 12px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#474747; text-decoration:none;}

.addNews a:hover{text-decoration:underline;}

.newsName{font:normal 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A;}

/*.padleft{font:normal 11px/27px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; padding-left:10px;}*/
.padleft{font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; padding-left:10px;}

.padleft a{font:normal  14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; text-decoration:none;}

.padleft a:hover{text-decoration:underline;}

.padleft_secand{font:normal 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; }

.padleft_secand a{font:normal 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; text-decoration:none;}

.padleft_secand a:hover{text-decoration:underline;}

.rightBorder{ border-right:1px solid #878787;}

.simpleText{font:normal 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A;}
.simpleTxt{font:normal 13px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#000000;}
.simpleText span{color:#FF0000;}


.white { font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:14px; font-weight:normal; color:#E60C0C;text-decoration:none;}
.green { font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:14px; font-weight:normal; color:#008800;text-decoration:none;}
.successful { position:absolute; left:0; top:-23px;}
/*.successful2 { position:absolute; left:0; top:0px;}*/
.successful2 { position:absolute; left:0; top:0px;}
/*.whitetext{font:normal 11px/27px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#040404; text-decoration:none;}

.whitetext a{font:normal 11px/27px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#040404; text-decoration:none;}

.whitetext a:hover{text-decoration:underline;}*/
.whitetext { font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:12px; font-weight:normal; color:#ffffff;text-decoration:none; line-height:32px;}
.simpletxt { font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:14px; font-weight:normal; color:#000000;text-decoration:none; padding:0 0 0 8px; margin:0; line-height:32px;}
.whitetext a{ font-family: "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; font-size:14px; font-weight:normal; color:#ffffff;text-decoration:none; line-height:32px;}
.whitetext a:hover{ color:#ffffff;text-decoration:underline;}


.whitetexthead{font:bold 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#FFFFFF; text-decoration:none; text-align:center;}

#records_listing { position:relative;}


.padleft_secand{font:normal 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; }

.padleft_secand a{font:normal 11px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; text-decoration:none;}

.padleft_secand a:hover{text-decoration:underline;}



.addNews_secand{font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#0077bc; padding:0 0 5px 0;}

.addNews_secand a{font:normal 14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#0077bc; text-decoration:none;}

.addNews_secand a:hover{ color:#0d4f33; text-decoration:underline;}

.red{ color:#b60911;}


.tabarea { margin:0; padding:0 5px 0px 5px;}
.tab{ margin:0; padding:0; width:100%; float:left; display:block; }
.tab ul{ margin:0; padding:0; list-style-type:none;}
.tab ul li{  margin:0 2px 0 0; padding:0;  float:left; display:block; }
.tab ul li a{ background:url(../images/menu_hover.gif) no-repeat left top; margin:0; padding:0 0 0 15px; font:bold 12px/27px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif;  color:#ffffff; float:left; display:block; text-decoration:none; }
.tab ul li a span{ background:url(../images/menu_hover.gif) no-repeat right top; margin:0; padding:0 15px 0 0;font:bold 12px/27px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; text-decoration:none; float:left; display:block; }
.tab ul li a:hover{ background:url(../images/menu_bg.gif) no-repeat left top;color:#040404; text-decoration:none; }
.tab ul li a:hover span{ background:url(../images/menu_bg.gif) no-repeat right top; }
.tab ul li a.active{ background:url(../images/menu_bg.gif) no-repeat left top;color:#040404; text-decoration:none; }
.tab ul li a.active span{ background:url(../images/menu_bg.gif) no-repeat right top; }
.tab-content {width:650px; margin:0; padding:0 10px 0px 10px; /*border:1px solid blue;*/ background:#ffffff; color:#040404; border:1px solid #B2B2B2; border-top:0px solid #b2b2b2; float:left; display:block; }
.tab-content p{ color:#040404;}
.tab-content p span{ color:#EA1D1D;}
.clear{ margin:0; padding:0; clear:both;}

#DisplayLinkBlock{ width:213px; margin:0; padding:0;}
/*--------navigation--------*/
/*.left-navmiddle{ width:214px; padding:0 10px 0 10px; margin:0; }
.left-navmiddle ul{ padding:0; margin:0;}
.left-navmiddle ul li{ padding:0 0 0 24px; margin:0; background:url(../images/leftnav-libg1.gif) left 12px no-repeat; font:bold 10px/28px Verdana, "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#D2D2D2; border-bottom:1px dashed #D2D2D2; display:block;}
.left-navmiddle ul li ul{ padding:0; margin:0;}
.left-navmiddle ul li ul li{ padding:0 0 0 24px; margin:0; background:url(../images/leftnav-libg.gif) left 12px no-repeat; font:bold 10px/28px Verdana, "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#D2D2D2; border-bottom:1px dashed #D2D2D2; display:block;}
.left-navmiddle ul li.noborder{ border-bottom:0px dashed #D2D2D2;}
.left-navmiddle ul li a{ font:bold 10px/28px Verdana, "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#D2D2D2; display:block; text-decoration:none;}
.left-navmiddle ul li a:hover{ color:white; text-decoration:none;}*/



input.linkmanager{ width:50px; padding:2px 0 0 7px; margin:10px 0 10px 0; float:left; display:block; font:normal 10px/14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; height:17px; border:1px solid #D4D0C8; background-color:#fffffff;}
input.linktextbox{ width:175px; padding:2px 0 0 7px; margin:10px 0 10px 0; float:left; display:block; font:normal 10px/14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; height:17px; border:1px solid #D4D0C8; background-color:#fffffff;}
input.groupname{ width:110px; padding:2px 0 0 7px; margin:10px 0 10px 0; float:left; display:block; font:normal 10px/14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; height:17px; border:1px solid #D4D0C8; background-color:#fffffff;}
.button{ padding:5px 15px; margin:0; display:block; background:#ff0000; border:1px solid #000000; font:bold 12px Verdana, "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff;}
.tabbutton{width:67px; padding:0; margin:0 0 0 0; height:26px; background:url(../images/button.gif) no-repeat;font:bold 12px/26px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; border:none; cursor:pointer;}

.buttonbig{width:96px; padding:0; margin:0 0 0 0; height:26px; background:url(../images/bigbutton.gif) no-repeat;font:bold 12px/26px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; border:none; cursor:pointer;}

.buttonnew{width:112px; padding:0; margin:0 0 0 0; height:26px; background:url(../images/bigbutton2.gif) no-repeat;font:bold 12px/26px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; border:none; cursor:pointer;}
.buttonlink{width:112px; padding:0; margin:0 0 0 0; height:26px; background:url(../images/buttonremove.gif) no-repeat;font:bold 12px/26px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; border:none; cursor:pointer;}
.buttonmeta{width:136px; padding:0; margin:0 0 0 0; height:26px; background:url(../images/buttonmeta.gif) no-repeat;font:bold 12px/26px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#ffffff; border:none; cursor:pointer;}
.outline { border:1px solid #878787; }
.outlinenew { border-top:1px solid #878787; border-bottom:1px solid #878787; }
.titletab { background:url(../images/titletab.jpg) no-repeat; width:138px; height:27px; }
.textareabig{ width:300px; padding:2px 0 0 2px; margin:2px 0; font:normal 10px/14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#050F1A; height:120px; border:1px solid #D4D0C8; background-color:#ffffff;}
.imagesubhead{font:normal 16px/22px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif; color:#7f7f7f;}
/*.textbox {width:180px; height:18px; border:1px solid #D4D0C8; font:normal 11px/14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif;}*/
.textarea {width:202px; height:120px; border:1px solid #D4D0C8; font:normal 11px/14px "Trebuchet MS", "Myriad Pro", Arial, Verdana, sans-serif;}
.extbluewarning .extblue{ border:1px red solid; }
.extbluefade{ position: absolute; background-color: #ffffff; }
div.extblue{ border:1px #757575 solid; position: absolute; background-color: #dedcde; padding: 0; width: 300px; text-align: left; }
div.extblue .extblueclose{ background-color: #dedcde; margin:2px -2px 0 0; cursor: pointer; color: #878787; text-align: right; }
div.extblue .extbluecontainer{ background-color: #dedcde; padding: 0 5px 5px 5px; color: #000000; font:normal 11px Verdana; }
div.extblue .extbluemessage{ background-color: #dedcde; padding: 0; margin:0 15px 15px 15px; }
div.extblue .extbluebuttons{ text-align: center; padding: 0px 0 0 0; }
div.extblue button{ padding: 1px 4px; margin: 0 10px; background-color:#000000; font-weight:normal; font-family:Verdana; font-size:10px; color:#ffffff; border:1px solid #757575; }

.general-search{ border:0px solid #FF0000; width:300px; float:left;}
.general-search-ab{ float:right; border:0px solid #FF0000;}




/*   ******* Edited By Anish & Ankur ************ */

.left-part{float:left; display:block; font-size:13px; width:120px;}


.errormsg { position:absolute; left:272px; top:-52px; text-align:center; padding:5px 9px; border:0px solid blue;}

.msgbox{ background-color:#FFFFCC; padding:10px; color:#000000; font-size:11px; border:1px dashed #cccccc; width:294px;}


/*.save-bttn{ width:16px; height:16px; padding:0; margin:7px 0 0 20px; float:left; display:block;}*/

.save-bttn{ width:16px; height:16px; padding:0; margin:9px 0 0 20px; float:left; display:block; background:url(../images/save-icon.gif) no-repeat; cursor:pointer; border:none;}

.black-txt{float:left; display:block; color:#000000; padding:10px 0 0 10px;}
.gen-left{float:left; display:block; padding:10px 0 0 0;}
/*------------ POP UP -------------- */
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}

input.go{ float:left; display:block; background:url(../images/sprite.gif) no-repeat -630px 0; width:56px; height:27px; display:block; padding:5px 0; font-size:11px;color:#ffffff; text-align:center; text-transform:uppercase; margin:0; border:0; cursor:pointer; margin:0 5px 0 0}
input.go:hover{ float:left; display:block; background:url(../images/sprite.gif) no-repeat -448px 0; width:56px; height:27px; padding:5px 0; font-size:11px;color:#ffffff; text-align:center; text-transform:uppercase; margin:0; border:0; cursor:pointer; margin:0 5px 0 0}

input.reset{float:left; display:block; background:url(../images/sprite.gif) no-repeat -630px 0; width:56px; height:27px; display:block; padding:5px 0; font-size:11px;color:#ffffff; text-align:center; text-transform:uppercase; margin:0; border:0; cursor:pointer;}
input.reset:hover{ float:left; display:block; background:url(../images/sprite.gif) no-repeat -448px 0; width:56px; height:27px; padding:5px 0; font-size:11px;color:#ffffff; text-align:center; text-transform:uppercase; margin:0; border:0; cursor:pointer;}
/*input.reset{width:57px; padding:0; margin:0px 0px 5px 6px; height:34px; border:0px solid black; background: url(../images/resetbttn.gif) no-repeat; cursor:pointer;}*/

.game-name{
    color: black;
    display: inline-block;
    padding: 2px;
    text-decoration: none;
    /*border: 1px solid black;*/
    font-size: 16px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}
.game-name:hover, .category-name:hover{
    text-decoration: underline;
}
.delete-game{
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 13px;
    background: url('../images/delete.gif') no-repeat center;
}
.category-name{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.game-table{
    margin-bottom: 5px;
    border-bottom: 1px solid #CCC;
    color: #000;
}
.game-menu,.category-menu{
     display: none;
     /*top:-5px;*/
     /*left: 50px;*/
     padding: 5px 10px;
     border: 1px solid black;
     position: absolute;
     z-index: 99;
     background-color: #FFF;
      box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 5px 6px #666;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')';
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}
div.game-name:hover div.game-menu{
    display: block
}

.delete-item{
    display: inline-block;
    margin-left: 5px;
    font-size: 9px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
.new-game{}
.button, .new-game{
	background-color: #054586;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#054586),to(#003366));
	background-image: -webkit-linear-gradient(top,#054586,#003366);
	background-image: -moz-linear-gradient(top,#054586,#003366);
	background-image: -ms-linear-gradient(top,#054586,#003366);
	background-image: -o-linear-gradient(top,#054586,#003366);
	background-image: linear-gradient(top,#054586,#003366);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#054586',EndColorStr='#003366');
	border: 1px solid #01509f;
	color: white !important;
	moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	min-width: 54px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none !important;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-size: 12px;
	width: auto;
	margin: 0 5px;
        text-shadow: none;
           
}
.button:hover, new-game:hover{
	border-color:#01509f;
	background-color:#054586;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#054586),to(#357ae8));
	background-image:-webkit-linear-gradient(top,#054586,#357ae8);
	background-image:-moz-linear-gradient(top,#054586,#357ae8);
	background-image:-ms-linear-gradient(top,#054586,#357ae8);
	background-image:-o-linear-gradient(top,#054586,#357ae8);
	background-image:linear-gradient(top,#054586,#357ae8)
}
.modalpopup-close-btn{
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    background: url('../../style/images/closebox.png') no-repeat center;
    border: none;
    z-index: 999999999999;
}

.modalpopup{
    color: #000;
/*    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;*/
    border-radius: 2px ;
    position: fixed; 
    z-index: 999999; 
    top: 50%; 
    left: 50%;
    margin-top: -200px;
    margin-left: -436px;
    display: none;
    background-color: #F2F2F2;
    padding: 20px;
    box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 5px 6px #666;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')';
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

#overlay,.overlay{
	background: none repeat scroll 0 0 #000000;
	height: 100%;
	left: 0;
        opacity: 0.4;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 999998;
	display: none;
}