* {
	margin: 0;
}
body{background:url(../images/back.png) ;background-color: #CCCCCC;}
/*a{ color:#747474; text-decoration:underline;}
ul{ list-style-type:none;padding-left: 0}
a img{ border:none; }
img{ border:none; }*/
.clear{ padding:0; margin:0; line-height:0; font-size:0; height:0; clear:both; border:0px solid blue;}
/*h1{ background:url(../images/title_bg.gif) no-repeat 0 10px; margin:0 0 10px 0; border:0px solid blue; font-size:23px; }
h1 span { background:#f2f2f2;}
h2 { font-size:18px; margin:0 0 5px 0}*/
.verticalseparatorbar{color: #fff;}
.main{width:1000px; padding:0; margin:0 auto; border:0px solid blue; }
/*.header { width:1000px; margin:0 auto; height:115px; border:0px solid blue; }*/

.logo { float:left; display:block; width:200px; height:48px; background:url('../images/logo.png') no-repeat;margin-right: 25px;}

/*.logo a{ display:block; width:201px; height:41px;}*/
.login { float:right; display:block; width:418px; padding:15px 0px 0 0; border:0px solid blue;}
.login form { padding:0; margin:0; border:0;}
.login form table { padding:0; margin:0; border:0;}
.login form table input{ /*float:left;*/ display:block; width:167px; height:19px; padding:3px; margin:0 5px 0 0 ; border:1px solid #ccc; color:#666666;}
.login form table input.submit{ /*float:left;*/ display:block; background:url(../images/sprite.gif) no-repeat -630px 0; width:56px; height:27px; display:block; padding:5px 0; font-size:11px;color:#ffffff; text-align:center; text-transform:uppercase; margin:0; border:0; cursor:pointer;}
.login form table input.submit:hover{ /*float:left;*/ display:block; background:url(../images/sprite.gif) no-repeat -448px 0; width:56px; height:27px; padding:5px 0; font-size:11px;color:#ffffff; text-align:center; text-transform:uppercase; margin:0; border:0; cursor:pointer;}
.login form table input.cancel{  /*float:left;*/ display:block; width:64px; background:url(../images/sprite.gif) no-repeat -584px -150px; height:27px; text-align:center; font-size:10px; color:#ffffff; padding:0; line-height:26px; margin:0 5px 0 0 ; border:0px solid #ccc; cursor:pointer; }
.login form table input.cancel:hover{  /*float:left;*/ display:block; width:64px; background:url(../images/sprite.gif) no-repeat -520px -150px; height:27px; text-align:center; font-size:10px; color:#747474; padding:0;  margin:0 5px 0 0 ; line-height:26px; border:0px solid #ccc; cursor:pointer; }
.login p{margin-top:2px; text-align:right}
.title{
	font-size: 23px;
	font-weight: bold;
	border-bottom: 1px solid #c8c8c8;
	padding-bottom: 3px;
	/*width: 50%;*/
}
.navigation {
	height:49px;  
	position: fixed;
	/*background:url(../images/background-top.png) top repeat-x;*/
        background: #003366;
	width: 100%; 
	z-index: 999;
	top: 0;
	left: 0;
	border-bottom: 1px solid #001E4E;
        opacity: 0.90;
}
#bodywrapper{
	padding:0; 
	margin:0; 
	width: 100%; 
	height:100%;
}
.menu {display:block; width:100%; padding:0; margin:0 auto; border:0px solid blue;width: 1000px;height: 45px;position: relative;}
ul.menuUl li.menuLi{ margin:15px 0 3px 3px; padding:0; font-size:14px; line-height:20px; float:left; display:block; font-weight: bold;}
ul.menuUl li.menuLi a.menuA{  color:#FFF; float:left; display:block; margin:0; text-decoration:none; padding: 0 3px;}
ul.menuUl li.menuLi a.menuA span{ color:#FFF; float:left; display:block; margin:0; height:20px; text-decoration:none;}
ul.menuUl li.menuLi a.menuA:hover{ color:#ffffff; float:left; display:block;  margin:0; text-decoration:none; cursor:pointer;border-bottom: 2px solid #ffcc00; padding: 0 3px}
ul.menuUl li.menuLi a.menuA:hover span{color:#ffffff; float:left; display:block; margin:0; text-decoration:none; cursor:pointer; border:0px solid blue;}
ul.menuUl li.menuLi a.active{color:#ffffff; float:left; display:block;  margin:0; text-decoration:none; cursor:pointer;border-bottom: 2px solid #ffcc00; padding: 0 3Spx;}
ul.menuUl li.menuLi a.active span{ color:#ffffff; float:left; display:block;  margin:0; text-decoration:none; cursor:pointer; border:0px solid blue;}
ul.menuUl li.usermenuli:hover .topsub_menu_wrapper{display: block;}

.social-links { float:right; display:block; width:90px; border:0px solid blue;}
.facebook { float:left; display:block; width:31px; background:url(../images/sprite.gif) no-repeat -566px 0; height:31px; margin:3px 9px 0 0;}
.facebook a{display:block; width:31px; height:31px;}
.facebook a:hover{display:block; width:31px; background:url(../images/sprite.gif) no-repeat -504px 0; height:31px;}
.twitter { float:left; display:block; width:31px; background:url(../images/sprite.gif) no-repeat -597px 0; height:31px; margin:3px 0px 0 0;}
.twitter a{display:block; width:31px; height:31px;}
.twitter a:hover{display:block; width:31px; background:url(../images/sprite.gif) no-repeat -535px 0; height:31px;}

.container { width:1000px; margin:12px auto; border:0px solid blue; }
.content-left { float:left; display:block;  padding:0 0 0 0; border:0px solid blue;}
.banner{ width:734px; height:304px;  border:0px solid blue; }
.latest-videos { width:734px; padding:16px 0 0 0;}
.latest-videos h1 { width:734px;height:8px; margin:0 0 15px 0; }
.latest-games { width:734px; padding:16px 0 0 0;}
.latest-games h1 { width:734px; background:url(../images/sprite.gif) no-repeat 0 -107px; height:8px; margin:0 0 15px 0; }
.games-block { float:left; display:block; width:226px; background:#ffffff; padding:5px; height:230px; margin:0 10px 10px 0; border:1px solid #e6e6e6;}
.games-content {width:226px; padding:0; margin:0;}
.games-title { float:left; display:block; width:171px; padding:10px 0 0 7px; font-size:14px; color:#434343; border:0px solid blue;}
.games-title span.date { font-size:12px; color:#848484;}
.games-detail { float:left; display:block; width:43px; padding:15px 0 0 3px; margin:0; border:0px solid blue;}
.gcomments { width:39px;border:0px solid blue;}
.games-comment {float:left; display:block; width:12px;background:url(../images/sprite.gif) no-repeat -449px -67px; height:8px; margin:2px 0 0 15px; padding:0px; border:0px solid blue;}
.games-comment a{ display:block; width:12px; height:8px; }
.games-lnk { float:left; display:block; width:12px; line-height:10px; border:0px solid blue;}
.games-lnk a { font-size:11px;color:#0077bc; text-decoration:none;}
.games-lnk a:hover {color:#434343; text-decoration:none;}
.gdetails { float:left; display:block; width:33px; font-size:11px; text-align:right; line-height:11px;  border:0px solid blue; }
.gdetails a{text-decoration:none; }
.gdetails a:hover{ text-decoration:underline; }
.detail-icon {float:left; display:block; width:3px; background:url(../images/sprite.gif) no-repeat -457px -27px; height:5px; margin:5px 0 0 2px; border:0px solid blue; }
.detail-icon a{display:block; width:3px; height:3px; }
.games-block-last { float:left; display:block; width:226px; background:#ffffff; padding:5px; height:230px; margin:0 0 10px 0; border:1px solid #e6e6e6;}
.bottom-content { width:734px; padding:16px 0 0 0; margin:0; border:0px solid blue;}
.content-box { float:left; display:block; width:237px; margin:0 10px 0 0; border:0px solid blue; background:#fff;}
.content-box h1{ width:236px; background:url(../images/sprite.gif) no-repeat 0 -85px; height:16px; margin:0 0 16px 0; border:0px solid blue; }
.content-box-works { float:left; display:block; width:237px; margin:0 10px 0 0;}
.content-box-works h1{ width:236px; background:url(../images/title_bg.gif) no-repeat 0 10px; height:11px; margin:0 0 16px 0; border:0px solid blue; }
.content-box-works h1 span { background:#f2f2f2;}
.content-box-works h1.small{ width:236px; background:url(../images/sprite.gif) no-repeat -236px -85px; height:11px; margin:0 0 16px 0; border:0px solid blue; }
.content-box-works ul li { float:left; display:block; width:230px; height:23px; line-height:19px; background:url(../images/sprite.gif) no-repeat -449px -38px; padding:0px 0 0px 10px; margin:5px 0 0 5px; border:0px solid blue; }
.content-box-works ul li a{ text-decoration:underline;}
.content-box-works ul li a:hover{ text-decoration:none;}
.content-details { float:left; display:block; width:730px; padding:0 0 20px 10px; }

.content-box-blog { float:left; display:block; width:237px;}
.content-box-blog h1{ width:236px; background:url(../images/sprite.gif) no-repeat -472px -85px; height:16px; margin:0 0 16px 0; border:0px solid blue; }
.content-box-blog ul li { float:left; display:block; width:230px; height:23px; line-height:19px; padding:0px 0 0px 10px; margin:0 0 0 2px; border:0px solid blue; }


.content-right { float:right; display:block; width:300px; padding:0; border:0px solid blue;}
.featured-games { width:232px; background:#cccccc; padding:12px; margin:0 0 7px 0;}

.featured-games h1{ width:236px; background:url(../images/sprite.gif) no-repeat 0 -72px; height:13px; padding:0; margin:0 0 7px 0; border:0px solid blue;}
.featured-block {width:236px; padding:12px 0; border-bottom:1px solid #bfbfbf;}
.featured-block-nobr {width:236px; margin:12px 0; border-bottom:0px solid #bfbfbf;}
.featured-img { float:left; display:block; background:#ffffff; width:54px; padding:3px;}
.featured-desc {float:left; display:block; width:158px; padding:0 0 0 12px;}
.featured-desc h5{ font-size:14px; padding:0 0 7px 0; color:#4a4a4a;}
.advertise { width:300px; padding:0; border:0px solid blue; text-align:center; margin-top:30px;}

.advertise h2 { display:none;width:300px; background:url(../images/sprite.gif) no-repeat 0 -101px; height:6px; padding:0; margin:0 0 7px 0; border:0px solid blue;}
.advertise img { margin:0 0 14px 0; float:left;}

.left-panel { float:left; display:block; width:257px; background:#e2e1e1; border:#C8C8C8 1px solid}

.left-panel-inner { float:left; display:block; width:257px; border:#ff0000 0px solid}
.right-panel { float:left; display:block; width:726px; padding:0 0 0 14px ; margin-top: 10px;}

.right-panel .findcoach-title { float:left; display:block; height:20px; padding:0; margin:0; border:0px solid blue;}
.right-panel .findcoach-title h1{ float:left; display:block; height:13px; margin:0 0 16px 0; border:0px solid blue;}

.right-panel .findcoach-title .breadcrumb { float:left; display:block; width:200px; background:url(../images/breadcrumb-arrow.gif) 0 0 no-repeat; padding:0 0 0 15px; font-family:Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-size:20px; color:#404040;  border:0px solid blue;}
.searchpanel{ margin-top:5px;float:right; display:block; width:340px; border:0px solid blue; margin-bottom:10px; line-height:23px;}
.searchpanel form { padding:0; margin:0; border:0;}
.searchpanel form fieldset { padding:0; margin:0; border:0;}
.searchpanel form fieldset input.text{  float:left; display:block; width:169px; height:19px; padding:3px; background:#ffffff; margin:0 0px 10px 0 ; border:1px solid #ccc; }
.searchpanel form fieldset select{ float:right; display:block; width:172px; height:27px; padding:5px 3px; background:#f5f5f5; margin:0 0px 0 5px ; font-size:11px; color:#333; border:1px solid #ccc;}
.searchpanel form fieldset input{ float:none; width:172px; height:27px; padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#333; border:1px solid #ccc;}
.searchpanel form fieldset input[type="button"]{ float:none; width:36px; height:27px; padding:5px 3px; background:#0077bc; margin:0 5px 0 0 ; font-size:11px; color:#fff; border:0px solid #fff;  text-transform:uppercase; background:url(../images/search-new.gif) no-repeat;}

.searchpanel form fieldset select.sm{ float:right; display:block; width:99px; height:27px; padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#333; border:1px solid #ccc;}
.searchpanel form fieldset input.search-bttn{ float:right; display:block;  width:62px; height:17px; padding:5px 0; background:url(../images/sprite.gif) no-repeat -688px -123px;  margin:0; border:0; cursor:pointer;}
.searchpanel form fieldset input.search-bttn:hover{ float:right; display:block;  width:62px; height:17px; padding:5px 0; background:url(../images/sprite.gif) no-repeat -688px -123px;  margin:0; border:0; cursor:pointer;}

.container-inner { width:1000px; margin:12px auto; border:0px solid blue; }

.sortby{ float:left; display:block; width:250px; padding:0 0 20px 0; border:0px solid blue;}
.sortby form { padding:0; margin:0; border:0;}
.sortby form fieldset { padding:0; margin:0; border:0;}
.sortby form fieldset label{ float:left; display:block;  width:47px;  padding:5px 0; margin:0;}
.sortby form fieldset select{ float:left; display:block; width:104px; height:27px; padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#c2bebe; border:1px solid #ccc;}
.game-list { width:730px; border-bottom:1px solid #c8c8c8; padding:15px 0 0 0;}
.game-list h1{ font-weight:normal; padding:0 0 12px 0;}

.game-list-block,.coach-detail { /*width:730px;*/ border:2px solid #c8c8c8; padding:10px 0 0 0; margin:0; margin-bottom:10px; background:#fafafa; -moz-border-radius: 5px;
border-radius: 5px; cursor:pointer; }

.game-list-block:hover{border:2px solid #ffce05}

.game-list-block h1{ font-weight:normal; padding:0 0 12px 0;}
.game-image-block { float:left; display:block; width:104px; background:#ffffff; padding:5px; margin:0 0 5px 10px; border:1px solid #cccccc; }
.game-image-block img { width:105px; height:120px; }
.game-details-block { float:left; display:block; width:568px; padding:10px 10px 10px 10px; background:#fafafa; margin-left:5px;  }
.game-details-block h4{ font-size:14px; font-weight:bold; color:#333333; padding:0 0 7px 0;}

/*.game-image { float:left; display:block; width:198px; background:#ffffff; padding:5px; border:1px solid #cccccc; }*/
.game-image { float:left; display:block; width:124px; background:#ffffff; padding:5px; margin:0 0 5px 0; border:1px solid #cccccc; }
.game-image img { width:124px; height:108px; }
.game-image1 { float:left; display:block; width:120px; background:#ffffff; padding:5px; border:1px solid #cccccc; }
.game-details { float:left; display:block; width:568px; padding:10px 10px 10px 10px; background:#fafafa; margin-left:5px;  }
.game-details h4{ font-size:14px; font-weight:bold; color:#333333; padding:0 0 7px 0;}
.view {float:right; margin-right:5px;}
.view a{ color:#ffffff; text-decoration:none;}
.view a:hover{ float:right; display:block; width:46px;background:url(../images/sprite.gif) no-repeat 0 -147px; height:20px; color:#ffffff; text-decoration:underline;}
.preview { float:right; display:block; height:20px; text-align:center; line-height:20px; margin-right:5px;}



.view-a { float:right; display:block; width:111px; background:url(../images/bitton-new.png) no-repeat; height:20px; text-align:center; line-height:20px; margin-right:5px;}


.view-a a{ color:#ffffff; text-decoration:none;}
.view-a a:hover{ float:right; display:block; width:111px;background:url(../images/bitton-new.png) no-repeat 0px -21px; height:20px; color:#ffffff; text-decoration:underline;}



.games-replay { float:left; display:block; width:226px; background:#ffffff; padding:5px; height:260px; margin:0 6px 10px 0; border:1px solid #e6e6e6;}
.games-replay img{margin:0 auto; display:block; padding:0 0 0px 0; border-radius:5px 5px 5px 5px; -moz-border-radius: 5px;}

.replay-content {width:226px; padding:0; margin:0;}
.replay-title { float:left; display:block; width:125px; padding:10px 0 0 7px; font-size:14px; color:#434343; border:0px solid blue;}
.replay-title span.date { font-size:12px; color:#848484; width:170px; display:block;}
.replay-title span.date em { font-size:12px; color:#000;}
.game-rating { float:right; display:block; width:90px; padding:10px 3px 0 0px; font-size:12px; margin:16px 0 0 0; border:0px solid blue; text-align:right}
.games-replay-last { float:left; display:block; width:226px; background:#ffffff; padding:5px; height:260px; margin:0 0 10px 0; border:1px solid #e6e6e6;}

.games-replay-last img{margin:0 auto; display:block; padding:0 0 0px 0; border-radius:5px 5px 5px 5px; -moz-border-radius: 5px;}
.right-panel .replays-title { float:left; display:block; width:230px; height:20px; border:0px solid blue;}
.right-panel .replays-title h1{width:258px; /*background:url(../images/sprite.gif) no-repeat 0 -168px;*/ height:20px; margin:0 0 16px 0; border:0px solid blue;}

/*---------------New Css added-------------------*/
.right-panel .coachprofile-title { float:left; display:block; width:230px; height:20px; border:0px solid blue;}
.right-panel .coachprofile-title h1{width:236px; background:url(../images/sprite.gif) no-repeat -58px -169px; height:10px; margin:0 0 16px 0; border:0px solid blue;}
.right-panel .profile-title { float:left; display:block; width:230px; height:20px; border:0px solid blue;}
.right-panel .profile-title h1{width:236px; background:url(../images/sprite.gif) no-repeat -108px -169px; height:10px; margin:0 0 16px 0; border:0px solid blue;}
.game-details-title { width:500px; border-bottom:0px solid #c8c8c8; padding:0;}
.game-details-title h4.gameshead{ float:left; display:block; width:415px; border:#ff0000 1px solid}
.game-details-title .gamerating{ float:right; display:block; width:69px; border:#ff0000 1px solid}
ul.games-desc { float:left; display:block; list-style-type:none; padding:10px 0 0 0; width:247px;}
ul.games-desc li{ float:left; display:block; width:245px; border:0px solid blue; padding:2px;}
ul.games-desc li span{ font-weight:bold;}
ul.games-desc li label.gametype{ float:left; display:block; width:80px; font-weight:bold; border:0px solid blue;}
ul.games-desc li label.gamedetail{ float:left; display:block; width:163px; border:0px solid blue;}
.right-panel .video-header { float:left; display:block; width:51px; height:14px; margin:0 0 16px 0; border:0px solid blue;}
.right-panel .video-header h1{width:51px; background:url(../images/sprite.gif) no-repeat 0 -185px; height:13px; border:0px solid blue;}
.video-block { float:left; display:block; width:180px; background:#ffffff; padding:5px; height:182px; margin:0 76px 10px 0; border:1px solid #e6e6e6;}
/*.video-content {width:180px; padding:0; margin:0;}*/
.video-title { float:left; display:block; width:171px; padding:7px 0 0 7px; font-size:14px; color:#434343; border:0px solid blue;}
.video-title a{ color:#434343; text-decoration:none;}
.video-title a:hover{ color:#434343; text-decoration:underline;}
.video-title span.date { font-size:12px; color:#848484;}
.video-block-last{ float:left; display:block; width:180px; background:#ffffff; padding:5px; height:182px; margin:0 0px 10px 0; border:1px solid #e6e6e6;}
.right-panel .review-title { float:left; display:block; width:60px; height:14px; margin:0; border:0px solid blue;}
.right-panel .review-title h1{width:52px; background:url(../images/sprite.gif) no-repeat -51px -185px; height:13px; border:0px solid blue;}
.review-list { width:730px; padding:15px 0 0 0;}

.review-block {width:730px; border:1px solid #c8c8c8; padding:10px 0 0; background:#fafafa; margin-bottom:5px; -moz-border-radius: 5px;
border-radius: 5px;}
.review-left {float:left; display:block; width:105px; margin:0 0 5px 10px; padding:5px; background:#ffffff; border:1px solid #e6e6e6;}
.review-right {float:left; display:block;width:585px; margin:0; padding:5px;}
.review-block .review-right .review-sub-title { margin:0; padding:0}

.review-sub-title { margin:0 0 0px 0;}
.review-sub-title h4.reviewshead{ float:left; display:block; font-size:14px; color:#333333; width:415px;}
.review-sub-title .reviewrating{ float:right; text-align:right; display:block; width:169px;}
.post { padding:10px}
.post span{ font-style:italic;}
.right-panel .registration-title { float:left; display:block; width:360px; height:14px; padding:0; margin:0; border:0px solid blue;}
.right-panel .registration-title h1{ float:left;width:86px; background:url(../images/sprite.gif) no-repeat -114px -185px; height:13px; border:0px solid blue;}
.right-panel .registration-title .breadcrumb { float:left; display:block; width:200px; background:url(../images/breadcrumb-arrow.gif) 0 0 no-repeat; padding:0 0 0 15px; font-family:Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-size:20px; color:#404040;  border:0px solid blue;}
.right-panel .findcoach-title { float:left; display:block; height:20px; padding:0; margin:0; border:0px solid blue;}
.right-panel .findcoach-title h1{ float:left; display:block; height:13px; margin:0 0 16px 0; border:0px solid blue;}

.right-panel .findcoach-title .breadcrumb { float:left; display:block; width:200px; height:20px; background:url(../images/breadcrumb-arrow.gif) 3px 3px no-repeat; padding:0 0 0 15px; font-family:Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-size:20px; color:#404040;  border:0px solid blue;}


.registration-student{ float:left; display:block; width:320px; border:1px solid #d1d0d0; padding:10px; margin:15px 0 0 0; }
.right-panel .student-title { float:left; display:block; width:115px; height:14px; margin:0; border:0px solid blue;}
.right-panel .student-title h1{width:60px; background:url(../images/sprite.gif) no-repeat -201px -185px; height:13px; border:0px solid blue;}
.right-panel .coach-title { float:left; display:block; width:115px; height:14px; margin:0; border:0px solid blue;}
.right-panel .coach-title h1{width:50px; background:url(../images/sprite.gif) no-repeat -261px -185px; height:13px; border:0px solid blue;}
.register-img { margin:0 auto; width:180px; background:#ffffff; padding:5px; height:172px; background:#ffffff; border:1px solid #e6e6e6;}
.register-txt { padding:10px 0 0 0;}
.registration-coach{ float:left; display:block; width:320px; border:1px solid #d1d0d0; padding:10px; margin:15px 0 0 35px; }
.next {float:right; display:block; width:53px; background:url(../images/sprite.gif) no-repeat -145px -147px; height:20px; text-align:center; line-height:20px; margin:15px 10px 0 0;}
.next a{ color:#ffffff; text-decoration:none;}
.next a:hover{ float:right; display:block; width:53px;background:url(../images/sprite.gif) no-repeat -92px -147px; height:20px; color:#ffffff; text-decoration:none;}
.register { width:675px; padding:20px; padding:0; margin:0; }
.register form { padding:0; margin:0; border:0; }
.register form fieldset{ padding:0; margin:0; border:0; }
.register form fieldset label{ float:left; display:block; width:140px; text-align:right; padding:0 5px 10px 0; line-height:25px; margin:0; border:0; color: black;}

.register form fieldset input{  float:left; display:block; width:169px; height:19px; padding:3px; background:#ffffff; margin:0 5px 10px 0 ; border:1px solid #ccc; }
/**/
.register form fieldset input.small{  float:left; display:block; width:130px; height:19px; padding:3px; background:#ffffff; margin:0 5px 10px 0 ; border:1px solid #ccc; }
.register form fieldset input.tiny{  float:left; display:block; width:80px; height:19px; padding:3px; background:#ffffff; margin:0 5px 10px 0 ; border:1px solid #ccc; }

/*.register form fieldset div{  float:left; display:block; width:303px; height:19px; padding:0 5px 2px 41px;margin:0; border:0; }*/

.register form fieldset span.browse{width:179px; background: url("../images/sprite.gif") no-repeat scroll -692px -177px transparent; display: block; float: left; height: 28px;
    margin:0; padding: 0; }
.register form fieldset span.browse input { border: 0 solid; cursor: pointer; margin: 0; opacity: 0; -moz-opacity: 0; filter: alpha(opacity=0); cursor:pointer;
    padding: 0; position: absolute; width: 169px; }
.register form fieldset select{ float:left; display:block; width:177px; height:27px; padding:3px; margin:0 5px 10px 0 ; border:1px solid #ccc; }
.register form fieldset select.sm{ float:left; display:block; width:100px; height:27px; padding:3px; margin:0 5px 10px 0 ; border:1px solid #ccc; }
.register form fieldset input.sm{  float:left; display:block; width:64px; height:19px; padding:3px; background:#ffffff; margin:0 5px 10px 0 ; border:1px solid #ccc; }
.register form fieldset textarea{ float:left; display:block; width:489px; height:77px; background:#ffffff; padding:3px; margin:0 5px 10px 0 ; border:1px solid #ccc; }
.register form fieldset input.check{  float:left; display:block; width:15px; height:19px; padding:3px; background:#ffffff; margin:3px 5px 0px 0 ; border:0px solid #ccc; }
.register form fieldset label.chkoption{ float:left; display:block; width:134px; text-align:left; padding:0; margin:0; border:0px solid blue; }
.register form fieldset label.instruction{ float:left; display:block; width:230px; text-align:left; padding-left:10px; margin:0; border:0px solid blue; font-size:12px; }
.register form fieldset label.chklabel{ float:left; display:block; width:70px; text-align:left; padding:0; margin:0; border:0px solid blue; }
/*.register form fieldset div.option {width:700px; display:block; padding:0; margin:0; border:1px solid blue}
.register form fieldset div.option div.game-property{  float:left; display:block; width:303px;  padding:0 5px 2px 0px;margin:0; border:0px solid blue;}
.register form fieldset div.option div.game-property input.check{ float:left; display:block; width:15px; height:15px; padding:0px; background:none; margin:0 3px 10px 0; border:1px solid blue; }
.register form fieldset div.option div.game-property label.gamepro{ float:left; display:block; width:134px; padding:0px; margin:0 3px 10px 0; border:0px solid blue; }
.register form fieldset div.option div.game-property label{ float:left; display:block; width:275px; padding:0px; margin:0 3px 10px 0; border:1px solid blue; }*/
/*
.register form fieldset input.submit{  
	float:left; 
	display:block; 
	width:51px; 
	background:url(../images/sprite.gif) no-repeat -699px -150px; 
	height:27px; text-align:center; 
	font-size:10px; text-transform:uppercase; 
	color:#ffffff; padding:0;  
	margin:0 5px 0 0 ; 
	border:0px solid #ccc; 
	cursor:pointer; 
	
	
}*/
/*
.register form fieldset input.submit:hover{  float:left; display:block; width:51px; background:url(../images/sprite.gif) no-repeat -648px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#747474; padding:0;  margin:0 5px 0 0 ; border:0px solid #ccc; cursor:pointer; }



.register form fieldset input.cancel{  float:left; display:block; width:64px; background:url(../images/sprite.gif) no-repeat -584px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#ffffff; padding:0; line-height:26px; margin:0 5px 0 0 ; border:0px solid #ccc; cursor:pointer; }
.register form fieldset input.cancel:hover{  float:left; display:block; width:64px; background:url(../images/sprite.gif) no-repeat -520px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#747474; padding:0;  margin:0 5px 0 0 ; line-height:26px; border:0px solid #ccc; cursor:pointer; }
*/


.right-panel .dashboard-title { float:left; display:block; width:115px; height:14px; margin:0; border:0px solid blue;}
.right-panel .dashboard-title h1{width:81px; background:url(../images/sprite.gif) no-repeat -311px -185px; height:13px; border:0px solid blue;}
.total-message { float:right; display:block; width:350px; text-align:right;}
.message-list { width:730px; padding:15px 0 0 0;}
.message-block { width:730px; padding:0 0 0 0; border-bottom:1px solid #c8c8c8;}
.message-block h3 { color:#545454; padding:7px 0;}
.reply { float:right; display:block; width:46px; background:url(../images/sprite.gif) no-repeat 0 -147px; height:20px; margin:0 0 7px 0; text-align:center; line-height:20px;}
.reply a{ color:#ffffff; text-decoration:none;}
.reply a:hover{ float:right; display:block; width:46px;background:url(../images/sprite.gif) no-repeat -46px -147px; height:20px; color:#ffffff; text-decoration:underline;}
.message-desc { width:730px; border:0px solid blue;}
.message-img { float:left; display:block;width:59px; margin:0 5px 0 0; padding:3px; background:#ffffff; border:1px solid #e6e6e6; }
.message-desc-right { float:left; display:block; width:649px; border:0px solid blue;}
.viewall { float:right; display:block; width:58px; background:url(../images/sprite.gif) no-repeat -198px -147px; height:20px; margin:7px 0; text-align:center; line-height:20px;}
.viewall a{ color:#ffffff; text-decoration:none;}
.viewall a:hover{ float:right; display:block; width:58px;background:url(../images/sprite.gif) no-repeat -256px -147px; height:20px; color:#ffffff; text-decoration:underline;}
/*---------------New Css added-------------------*/
/*-----------------------slider----------------------*/
.theme-default #slider {
    margin:0 auto;
    width:684px; /* Make sure your images are the same size */
    height:304px; /* Make sure your images are the same size */
	border-radius: 5px 5px 5px 5px;
}

/*-----------------------slider----------------------*/


.pagin{ float:right; display:block; width:150px; padding:12px 0; }
.pagin ul li { float:left; display:block; padding:0; margin:0 2px 0 0; background:#f2f2f2; border:1px solid #cccccc;}
.pagin ul li a{ display:block;color:#cccccc; padding:3px 5px; text-decoration:none;}
.pagin ul li a:hover{display:block; background:#cccccc; padding:3px 5px; color:#333333; text-decoration:none;}
.pagin ul li a.pageselect{display:block; background:#cccccc; padding:3px 5px; color:#333333; text-decoration:none;}

/*html, body {
	height: 100%;
}*/
.main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/*margin: 70px auto -34px;*/ 
        margin-top: 70px;
}
.footer, .push {
	height: 34px; /* .push must be the same height as .footer */
}

.footer { margin:0 auto; padding:0; height:34px;  }
.footer-inner {width:1000px; margin:0 auto; font-size:12px; border-top:1px solid #cccccc; line-height:34px;}
.footer-left { float:left; display:block; }
.footer-right { float:right; display:block; border:0px solid blue;}
.footer ul li { float:right; display:block; padding:0 2px; line-height:34px;}
.footer ul li a{ text-decoration:none;}
.footer ul li a:hover{ text-decoration:underline;}
.footer ul li a.active{ text-decoration:underline;}



.content { border:#ff0000 0px solid; margin-top:5px;}
.content ul.tabflex, .content ul.tabflex li { margin:0; padding:0}
.content ul.tabflex li { display:block; float:left; font-size:14px}
/**/
.content ul.tabflex li a { 
	/*padding:0px 5px; 
	height: 32px; */
	margin-left: 1px;
	padding: 6px 8px;
	display:block; 
	color:white;
	text-decoration:none; 
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px; 
	-webkit-border-radius: 4px 4px 0px 0px; 
	-khtml-border-radius: 4px 4px 0px 0px;
	background-color: #545454;

}

/*
.content ul.tabflex li a span {padding:7px 10px 7px 5px; display:block; color:white; text-decoration:none; background:white; background:url(../images/tab_bg.gif) no-repeat right -33px}
*/
.content ul.tabflex li a span {
	/*margin-top:7px;*/
}
.content ul.tabflex li a.active, .content ul.tabflex li a:hover { 
	/*padding:0px 5px; 
	display:block; 
	height: 32px; 
	text-decoration:none; 
	border-top: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;*/
	color:#333333;
	background-color: #FFF;
	
}
/*
.content ul.tabflex li a:hover span {padding:7px 10px 7px 5px; display:block; color:#333333; text-decoration:none; background:white; background:url(../images/tab_bg.gif) no-repeat right 0px}

.content ul.tabflex li a.active { 
	padding:0px 0px 0px 5px; 
	display:block; 
	color:#333333; 
	text-decoration:none; 
	background:white; 
	background:url(../images/tab_bg.gif) no-repeat 0 0px
	}*/
/*
.content ul.tabflex li a.active span {padding:7px 10px 7px 5px; display:block; color:#333333; text-decoration:none; background:white; background:url(../images/tab_bg.gif) no-repeat right 0px;}
*/
.tabular-content { background:url(../images/tab_bg_head.gif) repeat-x #fafafa; border:#e4e4e4 1px solid; padding:10px 0 10px 0px; margin:-1px 0 0 0}
.tab_sub { width:445px; float:left; display:block; padding:0 0 0 10px; height:30px;}
.tab_sub ul, .tab_sub ul li { list-style-type:none}
.tab_sub ul li { float:left; display:block}

.tab_sub ul li a { 
	display:block; 
	padding:6px 8px 6px 8px; 
	margin:0 1px 0 0; 
	
	border-left:#e4e4e4 1px solid; 
	border-right:#e4e4e4 1px solid; 
	border-top:#e4e4e4 1px solid; 
	text-decoration:none;
	color: #FFF;
	background:#545454; 
}
.tab_sub ul li a.active,.tab_sub ul li a:hover { 
	/*display:block; 
	padding:6px 8px 6px 8px; 
	
	border:#e4e4e4 1px solid; 
	border-bottom:#fafafa 1px solid; 
	text-decoration:none*/
	background:#fafafa; 
	color:#333333;
}
/*
.tab_sub ul li a.active { 
	display:block; 
	padding:6px 8px 6px 8px; 
	background:#545454; 
	color:#FFFFFF; 
	border:#e4e4e4 1px solid; 
	border-bottom:#fafafa 1px solid; 
	text-decoration:none
}
*/

.tab_search { width:370px; float:left; display:block}
.tab_search form fieldset {margin:0; padding:0; border:0px;}
.tab_search form fieldset input { background:white; border:#cccccc 1px solid; border-top:#666666 1px solid; padding:3px; width:265px;}
.tab_search form fieldset input.search_btn {background:url(../images/tab_bg_head.gif) repeat-x 0 0; width:87px; border:#cccccc 1px solid; border-bottom:#a0a0a0 1px solid}
.tab_pagination { width:145px; float:right; display:block; text-align:right}
.tab_pagination span.left-arr, .tab_pagination span.right-arr { float:left; display:block; width:26px; height:23px}
.tab_pagination span.left-arr a{ display:block; border:#ff0000 0px solid; width:26px; height:23px; background:url(../images/arrows.gif) no-repeat 0 0}
.tab_pagination span.left-arr a:hover {background:url(../images/arrows.gif) no-repeat 0 -23px}
.tab_pagination span.right-arr a{ display:block; border:#ff0000 0px solid; width:26px; height:23px; background:url(../images/arrows.gif) no-repeat -25px 0}
.tab_pagination span.right-arr a:hover {background:url(../images/arrows.gif) no-repeat -25px -23px}
.tab_pagination span.page-records { float:left; display:block; border:#ff0000 0px solid; padding:4px 0 0 0; margin:0 5px 0 0}

.tabular_row { margin:0 auto}
.tabular_row tr { cursor:pointer; background:#fafafa;}
.tabular_row tr td { padding:5px 10px; color:#333}
.tabular_row tr th{padding:5px 10px}
.tabular_row tr.alter { background:#f2f2f2}
.tabular_row tr.alter table tr { background:#f2f2f2}
.tabular_row tr.alter table tr td{ padding:5px 10px; color:#333}
.tabular_row tr.alter table tr td.new-ab{ padding:5px 70px; color:#333; width:70px; }
.tabular_row tr.alter table tr td.new-ac{ padding:5px 10px; color:#333}
.tabular_row tr.readmessage { background:#edf0f9}
.tabular_row tr.readmessage td strong { font-weight:normal}
.tabular_row tr.readmessage td { color:#8a8a8a}

.comment-container { width:565px; margin:0 auto; border:#ff0000 0px solid}
.message-thumb { width:75px; float:left; display:block; margin:0 auto; text-align:center}
.message-thumb img { padding:3px; border:#ccc 1px solid}
.message-details {float:right; display:block; width:485px; border:#ff0000 0px solid}
.message-date { font-style:italic; color:#a0a0a0}

.message-post { background:url(../images/comment_bg.gif) no-repeat 0 0; width:463px; margin:10px 0 0px 80px; padding:10px}
.message-post-bottom { background:url(../images/comment_bg.gif) no-repeat bottom; width:483px; margin:0 0 10px 80px; padding:0; height:10px}


.post-box { margin:10px 0 0 80px;}
.post-box textarea { background:white; border:#e4e4e4 1px solid; width:480px;}

/*-----------------new index css------------------*/
.featured-replays { width:684px; padding:16px 0 0 0;}
.featured-replays h1 { width:684px; background:url(../images/lft_h1_bg.jpg) no-repeat; height:16px; margin:0 0 15px 0;
}
.latest-news { width:300px; background:#fff; padding:0px; margin:0 0 0px 0; display:none;}
.latest-news h1{ width:236px; background:url(../images/sprite.gif) no-repeat 0 -230px; height:13px; padding:0; margin:0 0 7px 0; border:0px solid blue;}

.content-box-fcoaches { float:left; display:block; width:237px; margin:0 10px 0 0;}
.content-box-fcoaches h1{ width:236px; background:url(../images/sprite.gif) no-repeat 0 -247px; height:20px; margin:0 0 5px 0; border:0px solid blue; }
.content-box-works ul li { float:left; display:block; width:230px; height:23px; line-height:19px; background:url(../images/sprite.gif) no-repeat -449px -38px; padding:0px 0 0px 10px; margin:5px 0 0 5px; border:0px solid blue; }
.content-box-works ul li a{ text-decoration:underline;}
.content-box-works ul li a:hover{ text-decoration:none;}
.content-box-forum { float:left; display:block; width:237px; margin:0 0 0 3px;}
.content-box-forum h1{ width:236px; background:url(../images/sprite.gif) no-repeat -237px -247px; height:16px; margin:0 0 5px 0; border:0px solid blue; }
.content-box-forum ul li { float:left; display:block; width:230px; height:23px; line-height:19px; padding:0px 0 0px 2px; margin:0 0 0 2px; border:0px solid blue; }
.featuredcoach-block {width:230px; padding:9px 0; border-bottom:1px solid #bfbfbf;}
.featuredcoach-block-nobr {width:230px; margin:9px 0; border-bottom:0px solid #bfbfbf;}
.featuredcoach-img { float:left; display:block; background:#ffffff; width:54px; padding:3px;}
.featuredcoach-desc {float:left; display:block; width:158px; padding:0 0 0 12px;}
.featuredcoach-desc h5{ font-size:14px; padding:0 0 7px 0; color:#4a4a4a;}

.viewmore { float:right; display:block; width:69px; background:url(../images/sprite.gif) no-repeat -314px -147px; height:20px; margin:0px 0 5px 0; text-align:center; line-height:20px;}
.viewmore a{ color:#ffffff; text-decoration:none;}
.viewmore a:hover{ float:right; display:block; width:69px;background:url(../images/sprite.gif) no-repeat -383px -147px; height:20px; color:#ffffff; text-decoration:underline;}
/*-----------------new index css------------------*/



/* --------- More link ----------*/


a.morelinks{color:#ffffff; float:right; display:block; background:url(../images/menu.gif) no-repeat 0 0; margin:0; padding:0px 0px 0px 16px; text-decoration:none; cursor:pointer;}
a.morelinks span{ color:#ffffff; float:right; display:block; background:url(../images/menu.gif) no-repeat 100% 0; margin:0; padding:0px 15px 0px 0px; text-decoration:none; cursor:pointer; border:0px solid blue;}

/*---------new css added------------*/
.left-search { width:247px; background:#848484; padding:5px; height:72px; position:relative;}
.left-search form { padding:0; margin:0; border:0;}
.left-search form fieldset { padding:0; margin:0; border:0;}
.left-search form fieldset select{ float:left; display:block; width:195px; height:27px; padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#333; border:1px solid #ccc;}
.left-search form fieldset input.go{ float:left; display:block; width:46px; background:url(../images/go_bg.png) no-repeat -46px 0; margin:3px 0 0 0 ; font-size:11px; color:#ffffff; text-decoration:none; border:none; cursor:pointer; height:20px; padding-bottom:4px;}
.left-search form fieldset input.go:hover{ float:left; display:block; width:46px; background:url(../images/go_bg.png) no-repeat 0 0; margin:3px 0 0 0 ; font-size:11px; color:#ffffff; text-decoration:none; border:none; cursor:pointer; height:20px; padding-bottom:4px;}
.left-search form fieldset .srch_bg{background:#ccc;}
.left-search form fieldset input{ float:left; width:186px; height:19px; padding:5px 5px 3px; background:url(../images/srch_box.jpg) no-repeat; font-size:11px; color:#535353; border:0px solid #ccc; margin:5px 5px 3px 0;}

.left-search form fieldset input:active{border:none;}
.left-search form fieldset input[type="button"]{ float:left; width:36px; height:27px; padding:5px 3px; background:#0077bc; margin:5px 0 0 0px;  font-size:11px; color:#fff; border:0px solid #fff;  text-transform:uppercase; background:url(../images/search-new.gif) no-repeat; cursor:pointer;}
.left-search form fieldset input:active[type="button"]{  float:left; width:36px; height:27px; padding:5px 3px; background:#0077bc; margin:5px 0 0 0px;  font-size:11px; color:#fff; border:0px solid #fff;  text-transform:uppercase; background:url(../images/search-new.gif) no-repeat; cursor:pointer;}












#dynamic_controls input[type=checkbox]{width:auto !important; height:auto !important; padding:0 !important; margin:0 !important; float:none !important; display:inline !important;}
.right-panel .findstudent-title { float:left; display:block; height:20px; padding:0; margin:0; border:0px solid blue;}
.right-panel .findstudent-title h1{ float:left; display:block; height:13px; border:0px solid blue;}

.right-panel .findstudent-title .breadcrumb {float:left; display:block; width:200px; height:20px; background:url(../images/breadcrumb-arrow.gif) 3px 3px no-repeat; padding:0 0 0 15px; font-family:Calibri,Arial, Helvetica, sans-serif; font-weight:normal; font-size:20px; color:#404040;  border:0px solid blue;}

/* home page forum topic list - prosenjit*/
.topic_heading{font-size:16px; font-weight:bold;}

/**/

/*--------------video details----------------------------*/
.video-outer { width:1000px; padding:0;/* background: url(../images/video-bg.jpg) repeat-y top right; */margin:12px auto;}
/*.video-outer { width:1250px; padding:0; background: url(../images/video-bg.jpg) repeat-y top right; margin:12px auto;}*/
.video-content { float:left; display:block; width:500px; padding:0 10px; border:#ff0000 0px solid}
.video-placeholder { width:500px; margin:10px 0; z-index:1; }
/*.video-right { float:left; display:block; width:353px; padding:10px 0 0 25px; border:0px solid blue;overflow:auto;}*/
.video-right { float:right; display:block; width:200px; padding:10px 8px 0 10px; border:0px solid blue;overflow:auto; background: url(../images/video-bg.jpg) repeat-y top right; }
.video-right h4 { font-size:18px; font-weight:normal; color:#333333; padding:0 0 5px 0;}
.related-videos { width:200px; padding:15px 0 5px 0; border-bottom:1px solid #cccccc;}
.last { border-bottom:0px solid #cccccc;}
.related-video-desc h3 { color:#444; padding:0 0 10px 0;}
.related-video-desc h3 a { color:#444; text-decoration:none;}
.related-video-desc h3 a:hover { color:#444; text-decoration:underline;}
span.rtitle { color:#666666;}


.videosm-img { float:none; display:block; width:145px; border:#ff0000 0px solid}

.video-list { width:500px; border-bottom:1px solid #c8c8c8; padding:15px 0 0 0; border-bottom:1px solid #c8c8c8;}

.vdetails { float:left; display:block; width:490px; padding:0 0 10px 10px; }
.vdetails h2{ padding:0 0 5px 0;}
.video-review-block {width:610px; border-bottom:1px solid #c8c8c8; padding:15px 0;}
.video-review-left {float:left; display:block;width:105px; margin:0 10px 0 0; padding:5px; background:#ffffff; border:1px solid #e6e6e6;}
.video-review-right {float:left; display:block;width:470px; margin:0; padding:5px;}
.review-sub-title { margin:0 0 7px 70px;}
.review-sub-title h4.reviewshead{ float:left; display:block; font-size:14px; color:#333333; width:415px;}
.review-sub-title .reviewrating{ float:right; text-align:right; display:block; width:169px;}
.post { padding:10px}
.post span{ font-style:italic;}


/*--------------video details----------------------------*/

.rev input.submit{background: url("../images/sprite.gif") no-repeat scroll -699px -150px transparent;
    border: 0 solid #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 27px;
    margin: 0 5px 0 97px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 51px;
	float:left;
}
.rev input.submit:hover{  float:left; display:block; width:51px; background:url(../images/sprite.gif) no-repeat -648px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#747474; padding:0;   margin: 0 5px 0 97px;  border:0px solid #ccc; cursor:pointer; }

.rev input.cancel{background: url("../images/sprite.gif") no-repeat scroll -584px -150px transparent;
    border: 0 solid #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 10px;
    height: 27px;
    line-height: 26px;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 64px;}
	
.rev input.cancel:hover{  float:left; display:block; width:64px; background:url(../images/sprite.gif) no-repeat -520px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#747474; padding:0;  margin:0 5px 0 0 ; line-height:26px; border:0px solid #ccc; cursor:pointer; }
	
	
.rev textarea{background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    float: left;
    height: 100px;
    margin: 0 5px 5px 5px;
    padding: 3px;
    width: 300px;}

.kan{ width:150px; float:left; display:block; margin-right:5px; margin-left:9px; padding:7px 0 0 0px;}


.comment{ padding:5px 0 0 0; display:block; }
.comment input{ border: 1px solid #CCCCCC; padding:2px; height:15px; width:140px; }



.new input.reset{background: url("../images/sprite.gif") no-repeat scroll -699px -150px transparent;
    border: 0 solid #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 27px;
    margin: 0 5px 0 0px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 51px;
	float:left;
}
.new input.reset:hover{  float:left; display:block; width:51px; background:url(../images/sprite.gif) no-repeat -648px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#747474; padding:0;   margin: 0 5px 0 0px;  border:0px solid #ccc; cursor:pointer; }

.new input.go{background: url("../images/sprite.gif") no-repeat scroll -699px -150px transparent;
    border: 0 solid #CCCCCC;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 27px;
    margin: 0 5px 0 0px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 51px;
	float:left;
}
.new input.go:hover{  float:left; display:block; width:51px; background:url(../images/sprite.gif) no-repeat -648px -150px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#747474; padding:0;   margin: 0 5px 0 0px;  border:0px solid #ccc; cursor:pointer; }


.new .datebox{border: 1px solid #e4e4e4; height: 15px; padding: 2px; width: 140px;}



.textbox-search-box{border: 1px solid #CCCCCC;height: 15px; padding: 2px;width: 140px;}


.shoppimg-cart{ width:960px; height:94px;}



.new-income{ width:440px; border:1px solid #E4E4E4; float:left; padding:5px 2px 3px 8px; background:#fafafa}
.new-income-ab{ width:600px; border:0px solid #E4E4E4; float:left; padding:5px 2px 3px 8px; padding:5px; }




.register form fieldset input.submit-ab{  float:left; display:block; width:122px; background:url(../images/blue-divider.png) repeat-x; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#ffffff; padding:0;  margin:0 5px 0 0 ; border:0px solid #ccc; cursor:pointer; }

.register form fieldset input.submit-ab:hover{ float:left; display:block; width:122px; background:url(../images/blue-divider.png) repeat-x 0px -28px; height:27px; text-align:center; font-size:10px; text-transform:uppercase; color:#ffffff; padding:0;  margin:0 5px 0 0 ; border:0px solid #ccc; cursor:pointer; }

#scoreCard{}
#scoreCard ul{ list-style-type:none}
#scoreCard ul li{
	/*float:left; 
	background:#005295; 
	color:#fff; 
	padding:5px 0; 
	text-align:center; 
	margin:5px 5px 0 0; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	width:68px;*/
	
	border: 2px solid #005295;
	float: left;
	background: #E9E9E9;
	color: #005295;
	text-align: center;
	margin: 5px 5px 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	width: 70px;
	height: 28px;
	font-size: 12px;
	font-weight: bold;
}
#scoreCard ul li a { color:#fff; text-decoration:none}

/*
#scoreCard ul li#Communication{ background:#70b1d3;}
#scoreCard ul li#Knowledge{ background:#1d70b3;}
#scoreCard ul li#Structure{ background:#5f99c9;}
#scoreCard ul li#Professionalism{ background:#8fc7e3;}*/

#scoreCard ul li.status2,#scoreCard ul li.status1,#scoreCard ul li.status3,#scoreCard ul li.status4,#scoreCard ul li.status5{ background: #a1a1a1;}

#schoolScoreCard ul li#Overall strong,
#scoreCard ul li strong{ font-size:20px; line-height:17px; text-align:center; position:relative; left:-3px;}
#scoreCard ul li#Overall strong{ font-size:20px; line-height:17px;}
#schoolScoreCard ul li#Overall span,
#scoreCard ul li span{ display:block; font-size:12px;}

.review_thumb_block {border:#ff0000 0px solid; width:200px; float:left}
.review_card_block {border:#ff0000 0px solid; float:right}

.review-list-small { width:492px; padding:15px 0 0 0;}
.review-block-small {width:492px; border:1px solid #c8c8c8; padding:15px 5px; background:#fafafa; margin-bottom:5px; -moz-border-radius: 5px;
border-radius: 5px;}
.review-block-small .review-left {float:left; display:block; width:105px; margin:0 10px 0 5px; padding:5px; background:#ffffff; border:1px solid #e6e6e6;}
.review-block-small .review-right {float:left; display:block;width:350px; margin:0; padding:5px;}
.review-block-small .review-right .review_thumb_block {width:350px;}
.review-block-small .review-right .review-sub-title { margin:0; padding:0}
.like-dislike a { text-decoration:none}
.like-dislike-bar {float:right; padding:3px 0 0 0; font-size:11px;}
.like-dislike-bar-left {float:left; padding:3px 0 0 0; font-size:11px; text-align:right}
.signin-message {border:1px solid #cccccc; padding:13px 10px 10px 38px; height:20px; margin:10px 0 0 0; background:url(../images/warning-message.gif) no-repeat 10px 10px #e2e1e1; color:#333; position:relative}
.signin-message a { color:#0077bc; text-decoration:none}
.signin-message img.close { position:absolute; top:5px; right:5px;}
.score_title {border:#ff0000 0px solid; float:left;}
.score_title p{float:right; color:#0099FF; margin-left:2px; font-weight:normal;}
.score_title span { color:#0099FF}
.score_card {float:right; margin-top:-10px; border:#0C0 0px solid}
.registration-student1{ float:left; display:block; width:194px; border:1px solid #d1d0d0; padding:10px; margin:15px 0 0 0; }
.registration-partner1{ float:left; display:block; width:194px; border:1px solid #d1d0d0; padding:10px; margin:15px 0 0 12px; }
.registration-coach1{ float:left; display:block; width:194px; border:1px solid #d1d0d0; padding:10px; margin:15px 0 0 12px; }
.profile-list { padding:15px 0 0 15px;}
.registration-message {border:1px solid #cccccc; padding:5px 5px 10px 10px; height:35px; margin:10px 0 0 0; background:#e2e1e1; color:#333;}
.dashboard_area {padding-left:10px; padding-right:5px;}
.dashboard_area .dashboard_block { padding:10px; border:1px solid #e4e4e4; margin-bottom:10px; margin-right:10px; margin-top:15px; display:block; float:left; background:#fff; width:455px; border-radius:5px; -moz-border-radius:5px;}
.dashboard_area .dashboard_block h2 { font-size:18px; font-weight:bold; font-style:normal; color:#333; border-bottom:#e4e4e4 1px solid; padding:0 0 10px 0; margin:0}
.dashboard_area .dashboard_block h2 a { color:#333; text-decoration:none}

.dashboard_area .dashboard_block select{ padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#333; border:1px solid #ccc;}
.dashboard_area .dashboard_block input{ padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#333; border:1px solid #ccc;}
/*
.dashboard_area .dashboard_block input[type="button"]{ padding:5px 3px; background:#0077bc; margin:0 5px 0 0 ; font-size:11px; color:#fff; border:0px solid #fff; border-radius:15px; -moz-border-radius: 15px; }
*/
.tabular-data td { border-bottom:#e4e4e4 1px solid; border-top:#e4e4e4 1px solid}

.lft_panel{width:686px; padding:16px 0 0 0; float:left;}
.lft_panel h1 { width:686px; background:url(../images/lft_h1_bg.jpg) no-repeat right center; height:16px; margin:0 0 15px 0; font-family: 'Dosis', sans-serif; font-size:19px; font-weight:lighter; }
.lft_panel_whit_box{width:198px; height:218px; background:#fff; border:1px solid #e0e0da; padding:10px; float:left; margin:0 12px 10px 0; box-shadow: 0px 1px 1px #dddddd; border-radius: 2px;}
.nospace{margin-right:0;}

.lft_panel_whit_box .coaches{}
.lft_panel_whit_box .coaches p{text-align:left; font-size:11.5px; font-family:Arial, Helvetica, sans-serif;}
.lft_panel_whit_box .coaches p strong a{font-family:"Helvetica LightCond"; font-size:16px; color:#404040; font-weight:normal; text-decoration:none;}
.lft_panel_whit_box .coaches img{float:right; width:88px; height:88px; background:url(../images/featured_imgcont.jpg) no-repeat top right; float:right;}
.lft_panel_whit_box .coaches .btn a{float:right; width:43px; height:17px; background:url(../images/more.jpg) no-repeat top right; float:right; display:block; color:#fff; text-align:center; text-decoration:none; font-size:11px; line-height:18px; margin-top:5px;}

.lft_panel_whit_box .video{text-align:left; border:0px solid #000; width:100%; height:auto}
.lft_panel_whit_box .video img{margin:0 auto; display:block; padding:0 0 0px 0; border-radius:5px 5px 5px 5px; -moz-border-radius: 5px;}
.lft_panel_whit_box .video p{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8a8a8a; margin:8px 0 0px 5px;}
.lft_panel_whit_box .video p strong a{font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#373636; font-weight:600; text-decoration:none;}
.lft_panel_whit_info{width:198px; height:268px; background:#fff; border:1px solid #e0e0da; padding:10px; float:left; margin:0 12px 10px 0; box-shadow: 0px 1px 1px #dddddd; border-radius: 2px;}
.infonospace{margin-right:0;}

.lft_panel_whit_box .forum{}

.lft_panel_whit_info .forum .hd{background:url(../images/lft_h1_bg.jpg) no-repeat bottom center; width:100%; padding:5px 0 10px 0; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin-bottom:15px;}
.lft_panel_whit_info .forum ul{list-style-type:none; margin:0; padding:0;}
.lft_panel_whit_info .forum ul li{background:url(../images/forums_icon.jpg) no-repeat 0 0; width:170px; padding-left:25px; color:#6c6c6c; font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; display:block; margin:0 0 10px 3px;}

.lft_panel_whit_info .forum ul li .url a{font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:lighter; color:#404040; text-decoration:none;}


.categories-prdct{}


/*.register form fieldset label#avail_country{border: 0 none;
    display: block;
    float: left;
    line-height: 25px;
    margin: 0;
    padding: 0 5px 10px 0;
    text-align: right;
    width: 154px}*/
	
	table#points-presentation-layer{
		width: 100%;
	}

	#points-panel {
		height: 1%;
		width: 55%;
		text-align:center;
		margin-top: 5px;
		border-top: 1px solid;
	}

	div.points-block {
		height: 70px;
		background-color: #000000;
		background: -moz-linear-gradient(top center , #000000, #808080) repeat scroll 0 0 transparent;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#808080');
		margin-bottom:80px;
		margin-top: 20px;
		text-align:center;
		border: 1px solid;
	}
	
	td#paypal-logo {
		vertical-align: top;
		width: 20%;
		border-left: 1px solid;
	}
	
	td#paypal-logo div {
		margin-top:-10px;
	}
	
	td#paypal-logo  div img{
		height: 30%;
		width:70%;
	}
	
	span#points-title {
		color: #ffffff;
		font-weight:bold; 
		background-color: #C2C8C2;
		background: -moz-linear-gradient(top center , #C2C8C2, #000000) repeat scroll 0 0 transparent;
		padding:2px 3px;
		border: 1px #ffffff solid;
	}
	
	div.points-wrapper {
		
		/*position:relative;
		left:50%;*/
	}
	
	div.points-item {
		display: table;
		color:#ffffff;
		font-weight:bold; 
		font-size:26px; 
		text-align:center;
		height: 50px;
		width: 85px;
		float:left;
		margin-top:20px;
		margin-right: 20px;
		margin-bottom: 10px;
		cursor: pointer;
	}
	
	.point-value {
		display: table-cell;
		vertical-align: middle;
	}
	
	span#points-buy-button {
		border-radius: 0.5em 0.5em 0.5em 0.5em;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		display: inline-block;
		font: 14px/100% Arial,Helvetica,sans-serif;
		margin: 0 2px;
		outline: medium none;
		padding: 0.5em 2em 0.55em;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
		vertical-align: baseline;
	}
	
	#transaction_success {
		border:5px solid green;
		margin-top: 10px;
	}
	
	#transaction_cancelled {
		border:5px solid red;
		margin-top: 10px;
	}
	
	.rounded-corners {
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		border-radius: 20px;
	}
	
	/* color styles
	---------------------------------------------- */

	/* blue */
	.blue {
		color: #d9eef7;
		border: solid 1px #0076a3;
		background: #0095cd;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top, #00adee, #0078a5);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	}
	
	.blue:hover {
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top, #0095cc, #00678e);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
	}
	.blue:active {
		color: #80bed6;
		background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
		background: -moz-linear-gradient(top, #0078a5, #00adee);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
	}

	.highlightit{
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		/* IE 5-7 */
		filter: alpha(opacity=50);	
		/* Netscape */
		-moz-opacity: 0.5;
		/* Safari 1.x */
		-khtml-opacity: 0.5;
		/* Good browsers */
		opacity: 0.5;
	}

	.highlightit:hover{ 
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		/* IE 5-7 */
		filter: alpha(opacity=100);	
		/* Netscape */
		-moz-opacity: 1;
		/* Safari 1.x */
		-khtml-opacity: 1;
		/* Good browsers */
		opacity: 1;
	}

	.choice-clicked {
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		/* IE 5-7 */
		filter: alpha(opacity=100);	
		/* Netscape */
		-moz-opacity: 1;
		/* Safari 1.x */
		-khtml-opacity: 1;
		/* Good browsers */
		opacity: 1;
	}
	
/* button
---------------------------------------------- */
/*.button {
	display: inline-block;
	zoom: 1; 
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}
*/
.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
	
.modalpopup-close-btn{
	position: absolute;width: 30px;height: 30px;right: -15px;top: -15px;background: url('/style/images/closebox.png') no-repeat center;border: none;z-index: 999999999999;
}

.modalpopup{
	/*height:467px; 
	width: 872px;
	right: 100px;*/
	-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px ;
	position: fixed; 
	z-index: 999999; 
	top: 50%; 
	left: 50%;
	margin-top: -200px;
	margin-left: -436px;
	display: none;
	background-color: #F2F2F2;
	padding: 20px;
	box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 6px #666;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')';
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

#overlay,.overlay{
	background: none repeat scroll 0 0 #000000;
	height: 100%;
	left: 0;
    opacity: 0.4;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999998;
	display: none;
}
#bottombar{
	left: 0;
	position: fixed;
	bottom:0;
	height:37px; 
	width: 100%;
	/*background-color: #666;*/
	z-index: 10;
	background: url(../images/bottombar.png) repeat-x;
}

.userid{
	color: #ffcc00;
}
#bottombar ul {float: right;height:35px; }
#bottombar ul li{float:left; display:block; font-weight: bold; height: 100%;}
#bottombar ul li a{  color:#FFF; display:block; margin:0; text-decoration:none; padding: 0 3px; border-left: 1px solid black; height: 100%; padding: 0 15px; line-height: 35px;}
#bottombar ul li a span{ color:#FFF; display:block; margin:0; height:20px; text-decoration:none;}
#bottombar ul li a:hover{ box-shadow: 3px 5px 10px 1px #2a2a2a inset;-webkit-box-shadow: 3px 5px 10px 1px #2a2a2a inset;}

.window{
	border: 1px solid #003366;
	margin: 10px 0;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 1px 10px 1px white inset;
	-webkit-box-shadow: 0px 1px 10px 1px white inset;
}
.downarrow{
	display:block; width:10px; height:12px; background:url(../images/down_arrow.png) no-repeat; 
}
a.downarrow:hover{border: none !important;}

.windowcontent div{
	/*float: left;*/
	
}
.windowcontent {background-color: white;border-radius: 5px 5px 5px 5px;}
.windowtitle{
	background-color: #003366;
	color: #FFF;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	font-weight: bold;
}
.windowsubtitle{}
.coachresume{
	float:left; 
	/*border-right: 1px solid #003366; */
	width: 155px; 
	height: 180px;
	
}
.coachtitle{
	background-color: #f2f2f2;
	border-bottom: 1px solid #003366;
	color: #000;
	height: 20px; 
	line-height: 23px;
	padding-left: 10px
}
.coaches{
	overflow: hiden;
	display: none;
	color: #000;
}
.coaches_photo{
	
	float: left; 
	display:block;
}
.coaches_name{
	float: left; 
	font-weight: bold;
	margin-left: 10px;
	
}
.coaches_name a{
	text-decoration: none;
	color: black;
}
.coaches_name a:hover{
	text-decoration: underline;
	color: black;
}
.coach_list a:hover span{
	border-bottom: 2px solid #ffcc00;
}
.coach_list a{
	line-height: 10px; font-weight:bold; padding: 3px 3px 0 3px; display: block; text-decoration:none;font-size: 12px; color: #000; 
	margin-bottom: 3px;
}
.coach_list{
	padding: 3px;
}

.coaches_description{
	margin-top: 5px;
	font-size: 10px;
	height: 100px; 
}
.nivo-caption{border-radius: 0 5px;}
.button{
	/*width: 50px;*/
}

.button, .login_button, .register form fieldset input.submit,.register form fieldset input.cancel,.dashboard_area .dashboard_block input[type="button"]{
	background-color: #054586;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#054586),to(#003366));
	background-image: -webkit-linear-gradient(top,#054586,#003366);
	background-image: -moz-linear-gradient(top,#054586,#003366);
	background-image: -ms-linear-gradient(top,#054586,#003366);
	background-image: -o-linear-gradient(top,#054586,#003366);
	background-image: linear-gradient(top,#054586,#003366);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#054586',EndColorStr='#003366');
	border: 1px solid #01509f;
	color: white !important;
	moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	display: inline-block;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	min-width: 54px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none !important;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-size: 12px;
	width: auto;
	margin: 0 5px
}
.button:hover, .register form fieldset input.submit:hover,.register form fieldset input.cancel:hover{
	border-color:#01509f;
	background-color:#054586;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#054586),to(#357ae8));
	background-image:-webkit-linear-gradient(top,#054586,#357ae8);
	background-image:-moz-linear-gradient(top,#054586,#357ae8);
	background-image:-ms-linear-gradient(top,#054586,#357ae8);
	background-image:-o-linear-gradient(top,#054586,#357ae8);
	background-image:linear-gradient(top,#054586,#357ae8)
}
/*
.button{text-align: center; border-radius:3px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#e3e3e3;display:block;float:left;font-size:13px;font-weight:bold;line-height:30px;padding: 0 10px;position:relative;margin-right:5px;text-decoration:none;text-shadow:0 1px rgba(0, 0, 0, 0.4);}
.button{width: auto; min-width: 54px;background:#2b7cab;background:-moz-linear-gradient(top, #2b7cab 0%, #28739f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b7cab), color-stop(100%, #28739f));background:-webkit-linear-gradient(top, #2b7cab 0%, #28739f 100%);background:-o-linear-gradient(top, #2b7cab 0%, #28739f 100%);background:-ms-linear-gradient(top, #2b7cab 0%, #28739f 100%);background:linear-gradient(top, #2b7cab 0%, #28739f 100%);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.12), 0 1px 1px rgba(0, 0, 0, 0.35);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.12), 0 1px 1px rgba(0, 0, 0, 0.35);}

.button:hover{background:#3291c8;background:-moz-linear-gradient(top, #3291c8 0%, #2f88bc 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #3291c8), color-stop(100%, #2f88bc));background:-webkit-linear-gradient(top, #3291c8 0%, #2f88bc 100%);background:-o-linear-gradient(top, #3291c8 0%, #2f88bc 100%);background:-ms-linear-gradient(top, #3291c8 0%, #2f88bc 100%);background:linear-gradient(top, #3291c8 0%, #2f88bc 100%);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.25);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.25);color:#eee;}
.button:active{background:#2b7cab;background:-moz-linear-gradient(top, #2b7cab 0%, #28739f 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b7cab), color-stop(100%, #28739f));background:-webkit-linear-gradient(top, #2b7cab 0%, #28739f 100%);background:-o-linear-gradient(top, #2b7cab 0%, #28739f 100%);background:-ms-linear-gradient(top, #2b7cab 0%, #28739f 100%);background:linear-gradient(top, #2b7cab 0%, #28739f 100%);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 1px rgba(0, 0, 0, 0.15);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 1px rgba(0, 0, 0, 0.15);}
*/

.topsub_menu_wrapper{display:none;position: absolute;top: 30px;right:0;}
.topsub_menu{ 
	border: 1px solid black; 
	background-color: #666666;
	z-index: 999999; 
	padding: 5px 10px; 
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	box-shadow: 0 3px 8px #666666;
	margin-top: 25px;
}

.topsub_menu a {color: #FFF; text-decoration:none;}
.topsub_menu a:hover {text-decoration: underline;}
.topsub_menu ul{list-style-type: disc;color: #FFF; padding-left:10px;}
.topsub_menu li{list-style-position: inside;border-bottom: 1px solid #404040;padding: 3px; min-width: 90px}

.content-wrapper{margin: 25px;}
.schedule-links a{text-decoration:none;}
.schedule-links a:hover{border-bottom: 2px solid #ffcc00}
.schedule-links a.selected{border-bottom: 2px solid #ffcc00}
.schedule_type{float:left;}
.schedule_date{float:right;}
/*
.online,.offline,.busy,.away{
	display: inline-block;
	margin-bottom: -3px;
	width: 11px;
	height: 11px;
	cursor: default;
	padding: 1px;
}
.offline{
	background: url(../images/offline.png) no-repeat;
}
.online{
	background: url(../images/online.png) no-repeat;
}
.busy{
	background: url(../images/busy.png) no-repeat;
}
.away{
	background: url(../images/away.png) no-repeat;
}*/
.overall_card{background: url(../images/overallbackground.png) no-repeat; color:#002967;width: 91px; height: 32px;}
.overall_card div{width: 47px;
	height: 28px;
	padding-top: 3px;
	padding-left: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#calendar-wrap{margin-top: 15px;height: 382px; overflow: auto;width: 450px;float: left;}
#calendar-info{float:left; margin-left: 20px;margin-top: 20px;}
.schedule-info-wrap{border: #E4E4E4 1px solid;padding:10px}
.scheduleTitle{font-weight: bold;font-size: 16px;border-bottom: 1px solid #FFCC00;}
.scheduleLabel{font-weight: bold;}
.schedule_event{height: 50px; width: 400px; border: 1px solid black; background-color: #666666; color: #FFF; padding: 5px 10px; margin-bottom: 2px;cursor: pointer;}
.schedule_event_over,.schedule_event_selected{border: 1px solid #FFCC00;}
.schedule_event_selected{/*background-color: #888;*/}
.schedule_canceled{/*border: 1px solid red;*/ background-color: #a60003}
.schedule_loading {
    background: url("images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 66px;
    position: absolute;
    top: 30%;
    width: 66px;
    z-index: 999999;
	display: none;
}
#registerSuccesswindow{
	box-shadow: 5px 5px 5px #666666;
	background-color:#F2F2F2;
	position: absolute; 
	top: 30%; 
	left: 50%; 
	border: 1px solid #c8c8c8;  
	z-index: 9; 
	padding: 10px;
	display: none; 
	width: 300px; 
	height: 120px;
	margin-left: -150px;
}
.howWorksText{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	width: 100%;
	/*padding: 10px;*/
	background-color:#FFF;
	margin-bottom: 20px;
	border: 2px solid #c8c8c8;  
}
.howWorksImages {
	margin-bottom: 20px;
}

.step1,.step2,.step3,.step4{
	float: left; 
	width: 235px; 
	height: 239px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	background-color:#FFF;
	margin-right: 14px;
	border: 2px solid #c8c8c8;  
}
.step1{background: url("../images/step1.png") no-repeat;}
.step2{background: url("../images/step2.png") no-repeat;}
.step3{background: url("../images/step3.png") no-repeat;}
.step4{background: url("../images/step4.png") no-repeat;}

.schedule_confirmation{
	width: 300px;
	margin-left: -150px;
	margin-top: -70px;
	z-index: 999999;
	top: 50%; 
	left: 50%;
	position: absolute;
	padding: 10px;
	background-color:#FFF;
	border-radius: 2px;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-khtml-border-radius: 2px; 
	border: 1px solid #ACACAC;
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 4px 16px rgba(0,0,0,0.2);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.fb-like-box {}
.fb_iframe_widget {background-color:#FFF;}

.addAsFriendWindow{position: absolute; display: none; background-color:#F2F2F2; -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-khtml-border-radius: 2px; 
	border: 1px solid #c8c8c8;  
	z-index: 999;
	padding: 7px 10px;
	padding-bottom: 10px;
	margin-left: 20px;
}
.addAsFriendLink{text-decoration:none;}
.addAsFriendLink:hover {text-decoration:underline;}
.removeFriend{/*background: url("../images/removefriend.png") no-repeat left;*/}
.addFriend{/*background: url("../images/addfriend.png") no-repeat left;*/}
.coachname{}
.coachname:hover .addAsFriendWindow{display: block;}
.online_status{background-position: center center;}

li.online_status_li:hover div.online_status_changer{
	display:block;
}
li.players_li:hover div.players_list{
/* 	display:block; */
}
.online_status_changer, .players_list{
	position: absolute; 
	border: 1px solid #696969;
	bottom: 40px;
	clear: left;
	background-color: #333333;
	display:none;
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	-ms-box-shadow: 0 4px 4px rgba(0,0,0,0.4);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-khtml-border-radius: 2px; 
}
.players_list_wrapper{
	min-width: 130px;float: left;
}
.players_list{
	min-width: 150px;
/* 	height: 300px; */
}
.players_list div{
/* 	padding: 5px 10px; */
}
.players_list_wrapper div:hover{
	cursor:pointer;
	text-decoration: underline;
}

div.status_changer:hover{
	cursor:pointer;
	text-decoration: underline;
}
.letter_list{width: 10px; padding: 0; padding-right: 5px; margin: 0;float: left;color: white; font-size: 10px}
.letter{width: 12px;line-height: 9px;}
.letter:hover{
	cursor:pointer;
	text-decoration: underline;
}
.status_changer{
	display: block;
	/*width: 50px;*/
	margin-bottom: 5px;
	margin-left: 5px; 
	text-align: left;
	line-height: 15px;
	height: 15px;
	background-position: left center;
	color: #FFF;
	padding-left: 15px;
}

.star_friend,.star_not_friend{display:  inline-block; height:16px; width:17px; background: url("../images/stars.png") no-repeat;}
.star_friend{}
.star_not_friend{background-position: 100% 0;}
.status_changer_title{
	color:#FFF;
	background-color: #696969;
	padding: 10px;
	text-align: left;
	margin-bottom: 7px;
}
div.user_details dl dt{float: left; width: 130px; font-weight: bold;}
div.user_details dl {margin-bottom: 5px}
div.user_details dl  dd{}
div.user_details dl  dd div{overflow: hidden;} 
div.coach_game_details dl dt{float: left; width: 100px; font-weight: bold;}
div.coach_game_details dl {margin-bottom: 5px}
div.coach_game_details dl  dd{}
div.coach_game_details dl  dd div{overflow: hidden;} 

div.partner_game_details dl dt{float: left; width: 145px; font-weight: bold;}
div.partner_game_details dl {margin-bottom: 5px}
div.partner_game_details dl  dd{}
div.partner_game_details dl  dd div{overflow: hidden;} 


.rates{ 
	/*border-left: 1px solid #848484; */
	width: 80px;
	float: right;
	height:95px;
	padding: 5px 5px 5px 15px;
}
.rates div{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px; 
}
.contact{margin-top: 20px; }
.phono_FlashHolder{z-index:-99 !important;}

#schedule_list li {
	list-style-type:none;
	height:35px;
    border: 1px solid #000;
	margin: 2px;
					
	padding: 5px;
	text-align: center;
	width: 150px;
	float: left;
}
.loading{
    background:url('/style/images/loading.gif') no-repeat ; 
	position: absolute; 
	z-index: 999999; 
	height: 100px; 
	WIDTH: 66px; 
	HEIGHT: 66px; 
	top: 50%; 
	left: 50%;
	margin-top: -100px ;
}
.cashier-panel{display:none}
#withdrawFormWrapper{padding-left: 40px;padding-top: 40px;padding-bottom: 40px;width: 300px;}

.messages_user_list{float:left; width: 250px; height: 400px; overflow: hidden;}
.messages_user_wrap{clear: both; cursor:pointer; border-bottom: 1px solid #CCC;border-left: 1px solid #CCC; height: 35px; padding:5px; margin-bottom: 0}
.messages_user_wrap:hover, .messages_user_wrap_selected{/*border: 1px solid #FC0 !important;*/background-color:#DDE}
.messages_user_image{float:left; margin-right: 10px}
.messages_user_name{float:left; line-height: 35px; font-weight: bold;font-size: 16px;}
.messages_list{float:left; height: 370px;  width: 412px; padding: 15px; overflow: hidden;} 
.messages_list_wrap{float:left; width: 442px; display:none; border: 1px solid #CCC} 
.messages_wrap{clear: both;font-size: 16px;margin-bottom: 15px;width: 410px; word-wrap: break-word;}
.messages_sender{font-weight: bold;}
.messages_date{float:right;font-size: 12px; font-weight: normal}
.messages_content{margin: 5px 0;}
.send_message_text{border: 1px solid #CCC; resize: none; padding: 5px; width: 370px;margin-bottom:5px}
.send_message{border: none; background-color:#F2F2F2;width: 430px;clear: both;padding: 5px}

.chironcheckbox{padding-right:20px;background:url('images/checkboxes.png')  no-repeat right 5px; cursor:pointer; }
.selected{background-position: right -14px;}
div.forumtitle{border-bottom: 2px solid #FFF;}
a.forumlink:hover div.forumtitle span{border: none;}
a.forumlink:hover div.forumtitle{border-bottom: 2px solid #FC0;}
.notif_warning{margin-top: -150px; margin-left: -200px;}

.rounded,.panel,.forabg,.post{
	border: 1px solid #003366;
	border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px; 
	-webkit-border-radius: 5px 5px 5px 5px; 
	-khtml-border-radius: 5px 5px 5px 5px; 
}