/* CSS Document */

.extbluewarning .extblue{ border:1px red solid; }
.extbluefade{ position: absolute; background-color: #ffffff; }
div.extblue{ border:1px #757575 solid; position: absolute; background-color: #dedcde; padding: 0; width: 300px; text-align: left; }
div.extblue .extblueclose{ background-color: #dedcde; margin:2px -2px 0 0; cursor: pointer; color: #878787; text-align: right; }
div.extblue .extbluecontainer{ background-color: #dedcde; padding: 0 5px 5px 5px; color: #000000; font:normal 11px Verdana; }
div.extblue .extbluemessage{ background-color: #dedcde; padding: 0; margin:0 15px 15px 15px; }
div.extblue .extbluebuttons{ text-align: center; padding: 0px 0 0 0; }
div.extblue button{ padding: 1px 4px; margin: 0 10px; background-color:#000000; font-weight:normal; font-family:Verdana; font-size:10px; color:#ffffff; border:1px solid #757575; }
