@CHARSET "ISO-8859-1";

.notification{
	background-color: white;
	border-radius: 0px;
	border: 1px solid #CCC;
	border-bottom: none;
	box-shadow: rgba(0, 0, 0, 0.0976563) 0px 2px 4px;
	color: #444;
	width: 310px;
	cursor: pointer;
	background-position: 0% 0%;
	background-repeat: repeat no-repeat;
	border-color: #CCC;
	height: 110px;
}
.notification_inner{
	padding: 10px;
	width: 288px;
	height: 88px;
	display: block;
	overflow: hidden;
	text-decoration: none;
}

.notificationsWrapper{
	position: fixed;
	z-index: 999;
	bottom: 45px;
	right: 70px;
	display: none;
	background-color:#fff;
	background:rgba(255,255,255,0.98);
	border:1px solid #c5c5c5;
	-webkit-box-shadow:0 3px 8px #000;
	-webkit-border-radius:3px;
	box-shadow: 0 3px 8px #000;
	overflow: hidden;
}
.notificationsInner{
	padding-right: 10px;
	margin: 40px 5px 5px 5px;
	overflow: hidden;
}
.notifications_title{
	border-bottom: 1px solid CCC;
	height: 30px;
	line-height: 30px;
	box-shadow: 0 3px 5px #CCC;
	position: absolute;
	background: white;
	color: #000;
	font-weight: bold;
}
.notification_unread{
	background: none repeat scroll 0 0 #E7EBF2 ;
    opacity: 0.6;
}
.notification_title{
	font-weight: bold;
	margin-bottom: 5px;
}
.notification_text{
	margin-bottom: 5px;
}
.notification_date{
	font-weight: bold;
}

.notifications_quantity{
	background-color: #C00;
	padding: 3px 5px;
	text-align: center;
	position: absolute;
	top: -10px;
	height: 10px !important;
	line-height: 10px;
	margin-left: 60px !important;
	box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 6px #666;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: none;
}