﻿body{ padding:0; margin:0; font:normal 12px/15px Calibri,Arial, Helvetica, sans-serif; color:#747474; background:#f2f2f2;}
a{ color:#747474; text-decoration:underline;}
a:hover{ text-decoration:none;}
div,span,p,img,ul,ol,li,a,em,ins,hr,strong,form,fieldset,legend,label,input,select,textarea,h1,h2,h3,h4,h5,h6,table,tr,td{ padding:0; margin:0;}
ul{ list-style-type:none;}
a img{ border:none; }
.clear{ padding:0; margin:0; line-height:0; font-size:0; height:0; clear:both; border:0px solid blue;}
h1 { font-size:18px; font-weight:normal; color:#333333; padding:0 0 5px 0;}

.main{ width:100%; padding:0; margin:0 auto; border:0px solid blue;}
.header { width:1000px; margin:0 auto; height:115px; border:0px solid blue; }

.logo { float:left; display:block; width:448px; height:52px; background:url(../images/sprite.gif) no-repeat 0 0;  margin:42px 0 0 0;}
.logo a{ display:block; width:448px; height:52px;}
.login { float:right; display:block; width:422px; padding:46px 4px 0 0; border:0px solid blue;}
.login form { padding:0; margin:0; border:0;}
.login form fieldset { padding:0; margin:0; border:0;}
.login form fieldset input{ float:left; display:block; width:167px; height:19px; padding:3px; margin:0 5px 0 0 ; border:1px solid #ccc;}
.login form fieldset input.submit{ float:left; display:block; background:url(../images/sprite.gif) no-repeat -448px 0; width:56px; height:17px; padding:5px 0; font-size:11px;color:#ffffff; text-align:center; text-transform:uppercase; margin:0; border:0; cursor:pointer;}

.navigation { width:1000px; margin:0 auto; height:39px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.menu {float:left; display:block; width:750px; padding:10px 0 0 0; margin:0; border:0px solid blue;}
.menu ul li{ margin:0 12px 0 0; padding:0; font-size:12px; line-height:20px; text-transform:uppercase; float:left; display:block;}
.menu ul li a{  color:#545454; float:left; display:block; margin:0; padding:0px 0px 0px 16px; text-decoration:none;}
.menu ul li a span{ color:#545454; float:left; display:block; margin:0; height:20px; padding:0px 15px 0px 0px; text-decoration:none;}
.menu ul li a:hover{ color:#ffffff; float:left; display:block; background:url(../images/menu.gif) no-repeat 0 0; margin:0; padding:0px 0px 0px 16px; text-decoration:none; cursor:pointer;}
.menu ul li a:hover span{color:#ffffff; float:left; display:block; background:url(../images/menu.gif) no-repeat 100% 0; margin:0; padding:0px 15px 0px 0px; text-decoration:none; cursor:pointer; border:0px solid blue;}
.menu ul li a.active{color:#ffffff; float:left; display:block; background:url(../images/menu.gif) no-repeat 0 0; margin:0; padding:0px 0px 0px 16px; text-decoration:none; cursor:pointer;}
.menu ul li a.active span{ color:#ffffff; float:left; display:block; background:url(../images/menu.gif) no-repeat 100% 0; margin:0; padding:0px 15px 0px 0px; text-decoration:none; cursor:pointer; border:0px solid blue;}
.social-links { float:right; display:block; width:90px; border:0px solid blue;}
.facebook { float:left; display:block; width:31px; background:url(../images/sprite.gif) no-repeat -504px 0; height:31px; margin:3px 9px 0 0;}
.facebook a{display:block; width:31px; height:31px;}
.facebook a:hover{display:block; width:31px; background:url(../images/sprite.gif) no-repeat -504px -32px; height:31px;}
.twitter { float:left; display:block; width:31px; background:url(../images/sprite.gif) no-repeat -535px 0; height:31px; margin:3px 0px 0 0;}
.twitter a{display:block; width:31px; height:31px;}
.twitter a:hover{display:block; width:31px; background:url(../images/sprite.gif) no-repeat -535px -32px; height:31px;}

.container { width:1000px; margin:12px auto; border:0px solid blue; }
.content-left { float:left; display:block; width:734px; padding:0 10px 0px 0; border:0px solid blue;}
.banner{ width:734px; height:304px;  border:0px solid blue; }
.latest-games { width:734px; padding:16px 0 0 0;}
.latest-games h1 { width:734px; background:url(../images/sprite.gif) no-repeat 0 -107px; height:8px; margin:0 0 15px 0; }
.games-block { float:left; display:block; width:226px; background:#ffffff; padding:5px; height:230px; margin:0 10px 10px 0; border:1px solid #e6e6e6;}
.games-content {width:226px; padding:0; margin:0;}
.games-title { float:left; display:block; width:171px; padding:10px 0 0 7px; font-size:14px; color:#434343; border:0px solid blue;}
.games-title span.date { font-size:12px; color:#848484;}
.games-detail { float:left; display:block; width:43px; padding:15px 0 0 3px; margin:0; border:0px solid blue;}
.gcomments { width:39px;border:0px solid blue;}
.games-comment {float:left; display:block; width:12px;background:url(../images/sprite.gif) no-repeat -464px -27px; height:8px; margin:2px 0 0 15px; padding:0px; border:0px solid blue;}
.games-comment a{ display:block; width:12px; height:8px; }
.games-lnk { float:left; display:block; width:12px; line-height:10px; border:0px solid blue;}
.games-lnk a { font-size:11px;color:#0077bc; text-decoration:none;}
.games-lnk a:hover {color:#434343; text-decoration:none;}
.gdetails { float:left; display:block; width:33px; font-size:11px; text-align:right; line-height:11px;  border:0px solid blue; }
.gdetails a{text-decoration:none; }
.gdetails a:hover{ text-decoration:underline; }
.detail-icon {float:left; display:block; width:3px; background:url(../images/sprite.gif) no-repeat -457px -27px; height:5px; margin:5px 0 0 2px; border:0px solid blue; }
.detail-icon a{display:block; width:3px; height:3px; }
.games-block-last { float:left; display:block; width:226px; background:#ffffff; padding:5px; height:230px; margin:0 0 10px 0; border:1px solid #e6e6e6;}
.bottom-content { width:734px; padding:16px 0 0 0; margin:0; border:0px solid blue;}
.content-box { float:left; display:block; width:237px; margin:0 10px 0 0; border:0px solid blue;}
.content-box h1{ width:236px; background:url(../images/sprite.gif) no-repeat 0 -85px; height:11px; margin:0 0 16px 0; border:0px solid blue; }
.content-box-works { float:left; display:block; width:237px; margin:0 10px 0 0;}
.content-box-works h1{ width:236px; background:url(../images/sprite.gif) no-repeat -236px -85px; height:11px; margin:0 0 16px 0; border:0px solid blue; }
.content-box-works ul li { float:left; display:block; width:230px; height:23px; line-height:19px; background:url(../images/sprite.gif) no-repeat -449px -37px; padding:0px 0 0px 10px; margin:0 0 0 5px; border:0px solid blue; }
.content-box-works ul li a{ text-decoration:underline;}
.content-box-works ul li a:hover{ text-decoration:none;}


.content-box-blog { float:left; display:block; width:237px;}
.content-box-blog h1{ width:236px; background:url(../images/sprite.gif) no-repeat -472px -85px; height:16px; margin:0 0 16px 0; border:0px solid blue; }
.content-box-blog ul li { float:left; display:block; width:230px; height:23px; line-height:19px; padding:0px 0 0px 10px; margin:0 0 0 2px; border:0px solid blue; }


.content-right { float:left; display:block; width:256px; padding:0; border:0px solid blue;}
.featured-games { width:232px; background:#cccccc; padding:12px; margin:0 0 7px 0;}

.featured-games h1{ width:236px; background:url(../images/sprite.gif) no-repeat 0 -72px; height:13px; padding:0; margin:0 0 7px 0; border:0px solid blue;}
.featured-block {width:236px; padding:12px 0; border-bottom:1px solid #bfbfbf;}
.featured-block-nobr {width:236px; margin:12px 0; border-bottom:0px solid #bfbfbf;}
.featured-img { float:left; display:block; background:#ffffff; width:54px; padding:3px;}
.featured-desc {float:left; display:block; width:158px; padding:0 0 0 12px;}
.featured-desc h5{ font-size:14px; padding:0 0 7px 0; color:#4a4a4a;}
.advertise { width:256px; padding:0; border:0px solid blue;}

.advertise h2 { width:256px; background:url(../images/sprite.gif) no-repeat 0 -101px; height:6px; padding:0; margin:0 0 7px 0; border:0px solid blue;}
.advertise img { margin:0 0 14px 0;}

.left-panel { float:left; display:block; width:257px; background:#e2e1e1;}
.right-panel { float:left; display:block; width:726px; padding:0 0 0 14px ; }
.right-panel .findcoach-title { float:left; display:block; width:230px; height:20px; border:0px solid blue;}
.right-panel .findcoach-title h1{width:236px; background:url(../images/sprite.gif) no-repeat 0 -120px; height:13px; margin:0 0 16px 0; border:0px solid blue;}
.searchpanel{ float:right; display:block; width:395px; border:0px solid blue;}
.searchpanel form { padding:0; margin:0; border:0;}
.searchpanel form fieldset { padding:0; margin:0; border:0;}
.searchpanel form fieldset select{ float:right; display:block; width:172px; height:27px; padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#c2bebe; border:1px solid #ccc;}
.searchpanel form fieldset select.sm{ float:right; display:block; width:99px; height:27px; padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#c2bebe; border:1px solid #ccc;}
.searchpanel form fieldset input.search-bttn{ float:right; display:block;  width:62px; height:17px; padding:5px 0; background:url(../images/sprite.gif) no-repeat -688px -123px;  margin:0; border:0; cursor:pointer;}

.container-inner { width:1000px; background:url(../images/grey-bg.jpg) repeat-y left top; margin:12px auto; border:0px solid blue; }

.sortby{ float:left; display:block; width:250px; padding:0 0 20px 0; border:0px solid blue;}
.sortby form { padding:0; margin:0; border:0;}
.sortby form fieldset { padding:0; margin:0; border:0;}
.sortby form fieldset label{ float:left; display:block;  width:47px;  padding:5px 0; margin:0;}
.sortby form fieldset select{ float:left; display:block; width:104px; height:27px; padding:5px 3px; background:#f5f5f5; margin:0 5px 0 0 ; font-size:11px; color:#c2bebe; border:1px solid #ccc;}
.game-list { width:730px; border-bottom:1px solid #c8c8c8; padding:15px 0 0 0;}
.game-list h1{ font-weight:normal; padding:0 0 12px 0;}
.game-image { float:left; display:block; width:198px; background:#ffffff; padding:5px; border:1px solid #cccccc; }
.game-details { float:left; display:block; width:494px; padding:0 0 20px 10px; }
.game-details h4{ font-size:14px; font-weight:bold; color:#333333; padding:0 0 7px 0;}
ul.games-desc { float:left; display:block; list-style-type:none; padding:20px 0 0 0; width:247px;}
ul.games-desc li{ float:left; display:block; width:245px; border:0px solid blue;}
ul.games-desc li span{ font-weight:bold;}
.view { float:right; display:block; width:46px; background:url(../images/sprite.gif) no-repeat 0 -147px; height:20px; text-align:center; line-height:20px;}
.view a{ color:#ffffff; text-decoration:none;}
.view a:hover{ float:right; display:block; width:46px;background:url(../images/sprite.gif) no-repeat -46px -147px; height:20px; color:#ffffff; text-decoration:underline;}

.games-replay { float:left; display:block; width:226px; background:#ffffff; padding:5px; height:230px; margin:0 6px 10px 0; border:1px solid #e6e6e6;}
.replay-content {width:226px; padding:0; margin:0;}
.replay-title { float:left; display:block; width:145px; padding:10px 0 0 7px; font-size:14px; color:#434343; border:0px solid blue;}
.replay-title span.date { font-size:12px; color:#848484;}
.game-rating { float:right; display:block; width:60px; padding:24px 3px 0 0px; margin:0; border:0px solid blue;}
.games-replay-last { float:left; display:block; width:226px; background:#ffffff; padding:5px; height:230px; margin:0 0 10px 0; border:1px solid #e6e6e6;}
.right-panel .replays-title { float:left; display:block; width:230px; height:20px; border:0px solid blue;}
.right-panel .replays-title h1{width:236px; background:url(../images/sprite.gif) no-repeat 0 -168px; height:13px; margin:0 0 16px 0; border:0px solid blue;}

.pagin{ float:right; display:block; width:150px; padding:12px 0; text-align:right;}
.pagin ul li { float:right; display:block; padding:0; margin:0 2px 0 0; background:#f2f2f2; border:1px solid #cccccc;}
.pagin ul li a{ float:right; display:block;color:#cccccc; padding:3px 5px; text-decoration:none;}
.pagin ul li a:hover{float:right; display:block; background:#cccccc; padding:3px 5px; color:#333333; text-decoration:none;}
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -34px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 34px; /* .push must be the same height as .footer */
}

.footer { margin:0 auto; padding:0; height:34px;  }
.footer-inner {width:1000px; margin:0 auto; font-size:12px; border-top:1px solid #cccccc; line-height:34px;}
.footer-left { float:left; display:block; width:550px;}
.footer-right { float:right; display:block; width:440px; border:0px solid blue;}
.footer-right ul li { float:right; display:block; padding:0 2px; line-height:34px;}
.footer-right ul li a{ text-decoration:none;}
.footer-right ul li a:hover{ text-decoration:underline;}
.footer-right ul li a.active{ text-decoration:underline;}


































