﻿body{ padding:0; margin:0; font:normal 14px/15px Calibri,Arial, Helvetica, sans-serif; color:#747474; background:#f2f2f2;}
a{ color:#747474; text-decoration:underline;}
a:hover{ text-decoration:none;}
div,span,p,img,ul,ol,li,a,em,ins,hr,strong,form,fieldset,legend,label,input,select,textarea,h1,h2,h3,h4,h5,h6,table,tr,td{ padding:0; margin:0;}
ul{ list-style-type:none;}
a img{ border:none; }
.clear{ padding:0; margin:0; line-height:0; font-size:0; height:0; clear:both; border:0px solid blue;}
h1{ background:url(../images/title_bg.gif) no-repeat 0 10px; margin:0 0 10px 0; border:0px solid blue; font-size:23px; }
h1 span { background:#f2f2f2;}
h2 { font-size:18px; margin:0 0 5px 0}

.main{ width:100%; padding:0; margin:0 auto; border:0px solid blue;}
.header { width:1000px; margin:0 auto; height:115px; border:0px solid blue; }
.logo_a{ width:204px; height:60px; margin:0 auto; margin-top:43px; margin-bottom:10px;}
.site{ text-align:center; color:#000000; font-size:22px; margin-top:20px;}


.social-links { float:right; display:block; width:90px; border:0px solid blue; margin-top:32px; margin-right:30px;}
.facebook { float:left; display:block; width:31px; background:url(../images/social_network.gif) no-repeat -62px 0; height:31px; margin:3px 9px 0 0;}
.facebook a{display:block; width:31px; height:31px;}
.facebook a:hover{display:block; width:31px; background:url(../images/social_network.gif) no-repeat 0px 0px; height:31px;}
.twitter { float:left; display:block; width:31px; background:url(../images/social_network.gif) no-repeat -93px 0; height:31px; margin:3px 0px 0 0;}
.twitter a{display:block; width:31px; height:31px;}
.twitter a:hover{display:block; width:31px; background:url(../images/social_network.gif) no-repeat -31px -0px; height:31px;}



.paragarph{  display:block; width:980px; margin:20px auto;}
.box{ width:980px; display:block;}
.box_a{ width:460px; height:150px; float:left; border:1px solid #7f7f7f; margin-left:20px;}
.box_a_heading{ background:#7f7f7f; width:450px; height:17px; font-size:18px; padding:5px 5px; color:#FFFFFF; }
.box_a p{ margin-top:15px; display:block; text-align:center; font-size:18px;}
form.maintan{}
form.maintan input.text{ border:1px solid #817e7e; margin-top:25px; width:180px; height:25px; margin-left:65px;}
form.maintan input.sub{ border:1px solid #999999; background:#0077bc;  padding:2px; color:#FFFFFF;}


.footer, .push {
	height: 34px; /* .push must be the same height as .footer */
}

.footer { margin:0 auto; padding:0; height:34px;  }
.footer-inner {width:1000px; margin:0 auto; font-size:12px; border-top:1px solid #cccccc; line-height:34px;}
.footer-left { float:left; display:block; width:550px;}
.footer-right { float:right; display:block; width:440px; border:0px solid blue;}
.footer-right ul li { float:right; display:block; padding:0 2px; line-height:34px;}
.footer-right ul li a{ text-decoration:none;}
.footer-right ul li a:hover{ text-decoration:underline;}
.footer-right ul li a.active{ text-decoration:underline;}



