{if $IsProcess neq "Y"}
{include file="top.tpl"}
{/if}	
{literal}
<script type="text/javascript">

/*j(document).ready(function(){
		
focus_blur('sub_admin_email','Enter Admin Email*');
focus_blur('admin_username','Enter Admin Username*');
focus_blur('admin_password','Enter Admin Password*');
});*/

</script>
{/literal}
    <h2>Admin Details</h2>
	<div class="adminlogin">
	<div id="myResponse" style="top:-6px; left:2px; color:#006600;"></div>
	
	<p align="right" class="fields" style=" width:635px;">Fields marked with <span class="red">*</span> are required</p>
	<form name="FrmCurAdmin" id="FrmCurAdmin" method="post" action="" onsubmit="return false">
	<input type="hidden" name="cur_password" id="cur_password" value="{$AdminCurrentUpdateArr.admin_password}" />
	   <fieldset>
	      <label>Email Addresses<span style="color:#B60911;">*</span>:</label>
	      <input name="sub_admin_email" id="sub_admin_email" type="text"  value="{$AdminCurrentUpdateArr.admin_email}" size="40"/>       
		  <p>This address is used for getting Contact Us Mail.</p>
		  <p class="clear"></p>
		  <label>Username<span style="color:#B60911;">*</span>:</label>
		  <input name="admin_username" id="admin_username" type="text" value="{$AdminCurrentUpdateArr.admin_username}" size="40"/>
		   <p class="clear"></p>
		  <label>Password<span style="color:#B60911;">*</span>:</label>
		  <input name="admin_password" id="admin_password" type="text" class="textbox" value="{$AdminCurrentUpdateArr.admin_password}" size="40">
		   <p class="clear"></p>
		  <label>&nbsp;</label>
		  <input type="button" name="UpdateCurrent" value="" class="update"  style="margin-right:22px; margin-top:5px; " onclick="GetUpdate('FrmCurAdmin','admin_update_current.php')" />
	   </fieldset>
	</div>
	</form>	
	
	<!-- Edit Current Admin Starts -->
	
    <!--<table width="400" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="admininfo">
      <tr>
        <td align="center" bgcolor="#FFFFFF"><table width="400" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="23" align="center" bgColor="#727272" class="bottom_border"><span class="whitetext" style="padding-left:50px"><strong><font color="#fff">Admin Information</font></strong></span></td>
            </tr>
			
          </table>
            <table width="400" border="0" cellspacing="0" cellpadding="4">
              <tr>
                <td width="150" height="8"></td>
                <td height="8" width="250"></td>
              </tr>
              <tr>
                <td width="150" height="23" align="right" class="maintext">E-mail Address:</td>
                <td width="250" height="23" align="left"></td>
              </tr>
			  
              <tr>
                <td width="150" height="23" align="right" class="maintext">Username:</td>
                <td width="250" height="23" align="left"></td>
              </tr>
              <tr>
                <td width="150" height="26" align="right" class="maintext">Password:</td>
                <td width="250" height="26" align="left"></td>
              </tr>
              <tr>
                <td height="26" align="right" class="maintext">&nbsp;</td>
                <td height="26" align="left"></td>
              </tr>
            </table>
            <br>
            <br>
            <table width="400" border="0" cellspacing="0" cellpadding="0" class="top_bottom_border">
              <tr>
                <td height="20" bgColor="#727272">&nbsp;</td>
              </tr>
        </table></td>
      </tr>
    </table>-->
    
	
	<!-- Edit Current Admin Ends -->
	
	
{if $IsProcess neq "Y"}  	
{include file="bottom.tpl"}
{/if}