		</div>
			<div class="spacer"></div>
		</div>
	</div>
	
	<div class="footerb">
	   <div class="footerouter" align="right" style="padding:0 6px 0 0">
		&copy;2011 All Rights Reserved.
	</div>
	</div>
	
</body>
</html>