{include file="top.tpl"}
<h2>Set Default Commission</h2>
<div class="tabarea">
<div class="tabcontent">
<p align="right" class="fields">Fields marked with <span class="red">*</span> are required</p>
<form action="default_admin_comission.php?action=trans" method="post" name="frm_admin" id="frm_admin" enctype="multipart/form-data">
		<table width="100%" border="0" cellspacing="4" cellpadding="0">
		{if $err_msgs neq ""}     
		<tr>
			<td class="simpleText" colspan="2"><ul>{$err_msgs}</ul></td>
		</tr>
		<tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		 </tr>
		{/if}
		 <tr>
			<td width="30%" align="left" valign="middle" class="plaintxt">Commission Value<span class="red">*</span>:</td>
			<td width="70%" align="left" valign="middle"><label>
			  <input type="text" name="default_comision_value" id="default_comision_value" class="textbox" value="{$FabricArr.default_comision_value}" style="width:30px;"/>&nbsp;<span style="color:#000000; font-weight:bold; vertical-align:text-bottom;">%</span>
			</label></td>
		 </tr>		 
		  <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		  </tr>
		  <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">
			 <input name="default_comision_id" id="default_comision_id" type="hidden" value="{$FabricArr.default_comision_id}"/>
			 <input name="imageField" type="submit" class="addsadmin go" value="Save" /></td>
		  </tr>
		  <tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  </tr>
		</table>
</form>

	</div>
 </div>
    <p>&nbsp;</p>
{include file="bottom.tpl"}
