{include file="top.tpl"}
<h2>{$SubmitButton}</h2>
<div class="tabarea">
<div class="tabcontent">
<p align="right" class="fields">Fields marked with <span class="red">*</span> are required</p>
<form action="game_update.php?action=trans" method="post" name="frm_admin" id="frm_admin" enctype="multipart/form-data">
		<table width="100%" border="0" cellspacing="4" cellpadding="0">
		  {if $err_msgs neq ""}     
			<tr>
				<td class="simpleText" colspan="2"><ul>{$err_msgs}</ul></td>
			</tr>
			<tr>
				<td align="left" valign="top">&nbsp;</td>
				<td align="left" valign="top">&nbsp;</td>
			 </tr>
		  {/if}
		 
		 <tr>
			<td width="30%" align="left" valign="middle" class="plaintxt">Game Name<span class="red">*</span>:</td>
			<td width="70%" align="left" valign="middle"><label>
			  <input type="text" name="game_name" id="game_name" class="textbox" value="{$FabricArr.game_name}"/>
			</label></td>
		 </tr>		 
		<tr>
			<td align="left" valign="top" class="plaintxt">Description:</td>
			<td align="left" valign="top"><label>
			  <textarea rows="3" cols="23"  name="game_description" id="game_description" class="bigger" style="height:110px;">{$FabricArr.game_description}</textarea>
			</label></td>
		  </tr>
		  <tr>
		  	<td colspan="2"></td>
		  </tr>
		
		 <tr>
			<td height="28" align="left" class="plaintxt">Active:</td>
			<td height="28" align="left" class="maintext">
				<input name="is_active" id="is_active" type="checkbox" class="maintext" value="Y" 
				{if $FabricArr.is_active =='Y'}checked{/if}>				
			</td>
		  </tr>
		 
		  <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		  </tr>
		  <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">
			 <input name="game_id" id="game_id" type="hidden" value="{$game_id}"/>
			 <input name="imageField" type="submit" class="addsadmin" value="{$SubmitButton}" />
&nbsp;&nbsp;&nbsp;<input name="" type="button" class="cancel" value="Cancel" 
onclick="window.location.href='game_manager.php?IsPreserved=Y'"/></td>
		  </tr>
		  <tr>
		  <td>&nbsp;</td>
		  <td>&nbsp;</td>
		  </tr>
		</table>
</form>

	</div>
 </div>
    <p>&nbsp;</p>
{include file="bottom.tpl"}
<iframe width=132 height=142 name="gToday:contrast:agenda.js" id="gToday:contrast:agenda.js" src="DateRange/ipopeng.htm" scrolling="no" frameborder="0" style="visibility:visible; z-index:999; position:absolute; left:-300px; top:0px;"></iframe>