{include file="top.tpl"}
<h2>{$SubmitButton}</h2>
<div class="tabarea">
<div class="tabcontent">
<p align="right" class="fields">Fields marked with <span class="red">*</span> are required</p>
<form action="home_image_update.php?action=trans" method="post" name="frm_admin" id="frm_admin" enctype="multipart/form-data">
		<table width="100%" border="0" cellspacing="4" cellpadding="0">
		  {if $err_msgs neq ""}     
			<tr>
				<td class="simpleText" colspan="2"><ul>{$err_msgs}</ul></td>
			</tr>
			<tr>
				<td align="left" valign="top">&nbsp;</td>
				<td align="left" valign="top">&nbsp;</td>
			 </tr>
		  {/if}
		 
		  
		 
			 
		 <tr>
			<td align="left" valign="top" class="plaintxt">{$DisplayImageControlStr}</td>
			<td align="left" valign="top" class="plaintxt"></td>
			<td align="left" valign="top" class="plaintxt"></td>
		 </tr>
		 <tr>
		  	<td colspan="2"></td>
		 </tr>
		  <tr>
		  <td width="30%" align="left" valign="middle" class="plaintxt"></td>
			<td width="70%" align="left" valign="middle" class="plaintxt"><label>Image Size Should Be 684x304 px</label></td>			
		 </tr>
		 <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		 </tr>
		<tr>
			<td width="30%" align="left" valign="middle" class="plaintxt">Image Alt<span class="red">*</span>:</td>
			<td width="70%" align="left" valign="middle"><label>
			  <input type="text" name="image_alt" id="image_alt" class="textbox" value="{$FabricArr.image_alt}"/>
			</label></td>
		 </tr>
		 <tr>
			<td width="30%" align="left" valign="middle" class="plaintxt">Title<span class="red">*</span>:</td>
			<td width="70%" align="left" valign="middle"><label>
			  <input type="text" name="title" id="title" class="textbox" value="{$FabricArr.title}"/>
			</label></td>
		 </tr>
		 <tr>
			<td width="30%" align="left" valign="middle" class="plaintxt">Link :</td>
			<td width="70%" align="left" valign="middle"><label>
			  <input type="text" name="banner_link" id="banner_link" class="textbox" value="{$FabricArr.banner_link}"/>
			</label></td>
		 </tr>
		  <tr>
		  	<td width="30%" align="left" valign="middle" class="plaintxt"></td>
			<td width="70%" align="left" valign="middle" class="plaintxt"><label>(Example: http://www.chirongaming.com)</label></td>			
		 </tr>
		 <tr>
			<td width="30%" align="left" class="plaintxt" valign="top">Description<span class="red">*</span>:</td>
			<td width="70%" align="left" valign="middle"><label>
			  <textarea rows="3" cols="23"  name="description" id="description" class="bigger" style="height:110px;">{$FabricArr.description}</textarea>
			</label></td>
		 </tr>		 	   
		 <tr>
			<td height="28" align="left" class="plaintxt">Active:</td>
			<td height="28" align="left" class="maintext">
				<input name="is_active" id="is_active" type="checkbox" class="maintext" value="Y" {if $FabricArr.is_active =='Y'}checked{/if}>
			</td>
		 </tr>
		 <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">&nbsp;</td>
		 </tr>
		 <tr>
			<td align="left" valign="top">&nbsp;</td>
			<td align="left" valign="top">
			 <input name="image_id" id="image_id" type="hidden" value="{$image_id}"/>
			 <input name="imageField" type="submit" class="addsadmin" value="{$SubmitButton}" {if $image_id eq ''} style="width:150px;"{else}style="width:150px;"{/if}/>
&nbsp;&nbsp;&nbsp;<input name="" type="button" class="cancel" value="Cancel" onclick="window.location.href='home_image_manager.php?IsPreserved=Y'"/></td>
		 </tr>
		 <tr>
		 	<td>&nbsp;</td>
		 	<td>&nbsp;</td>
		 </tr>
		</table>
</form>

	</div>
 </div>
    <p>&nbsp;</p>
{include file="bottom.tpl"}