{include file="top.tpl"}
<h2>Welcome to Admin Panel</h2>
<p>Please use the menu on the left to <span>navigate</span> the administration control panel.</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{include file="bottom.tpl"}