{include file="top.tpl"}
<h2>{$SubmitButton}</h2>
<div class="tabarea">
<div class="tabcontent">
<form action="user_type.php" method="post" name="frm_admin" id="frm_admin" enctype="multipart/form-data">
<input type="hidden" name="action" value="trans" />
 <input type="hidden" name="is_coach" value="{$is_coach}" />
 <input type="hidden" name="is_partner" value="{$is_partner}" />
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
	   <td colspan="2" valign="top" class="plaintxt">Basic registration complete . User {$name} is now a Student at Noobskool. 
	  
	   </td>
     </tr>	
	 <tr>
	 
		<td align="left" valign="top">&nbsp;</td>
		<td align="left" valign="top">&nbsp;</td>
	 </tr>
	 
	 <tr>
	 	<td align="left" valign="top" class="plaintxt">Select Type:</td>
		<td align="left" valign="top" class="plaintxt">
		<input type="radio" name="user_type" value="2" checked="checked"> Student &nbsp;&nbsp; <input type="radio" name="user_type" value="1"> Coach &nbsp;&nbsp;
		<input type="radio" name="user_type" value="3"> Training Partner
		</td>
	 </tr>
	 <tr>
	  	<td>&nbsp;</td>
	  	<td>&nbsp;</td>
	 </tr>
	 <tr>
	 	<td align="left" valign="top">&nbsp;</td>
		<td align="left" valign="top">
		<!--<input name="user_id" id="u_id" type="hidden" value="{$u_id}"/>-->
		<input name="u_id" id="u_id" type="hidden" value="{$user_id}"/>
		<input name="imageField" type="submit" class="addsadmin" value="Submit"/>
		</td>
	 </tr>
	</table>
</form>

	</div>
 </div>
{include file="bottom.tpl"}
