{literal}
<script language="javascript" src="js/contact_us.js"></script>
<script language="javascript">

function CheckFields()
{
  
 
   if(document.getElementById('calendar_code').value=='')
   {
    jQuery('#FormErrorMsg').show();
    jQuery('#FormErrorMsg').html("Please enter your calendar link");
	//$('#FormErrorMsg').fadeOut(2000);
    return false;
   }
  
  return true;
 
}
</script>
{/literal}
 <div class="right-panel">
       <h1 title="Appointy Calendar"><span>Appointy Calendar</span></h1>
      <div class="clear"></div>
	   {$CmsArr.cms_description}
	   <div class="register">
	  <div id='FormErrorMsg' style="color:red; text-align:left; padding-bottom:10px; padding-left:100px;">{if $ermsg neq ''} {$ermsg}{/if} </div>
      <form name="contact" id="contact" method='post'>
	    <fieldset>
            <label>Calendar Link :</label>
           <input type="text" name="calendar_code" id="calendar_code" class="con-req" value="{$Formval.calendar_code}" style="width:200px;"/>
           
			<label>Active Calendar :</label>
            <input type="checkbox" name="active_calendar" id="active_calendar" value="Y" {if $Formval.active_calendar =='Y'}checked{/if} />
            <p class="clear"></p>
            <label>&nbsp;</label>
            <input name="submit" class="submit" value="Edit" type="submit" onclick='return CheckFields()' />
            <input name="" class="cancel" value="Cancel" type="button" onclick="window.location.href='profile.php'" />
         </fieldset>
      </form>
      </div>
      <div class="clear"></div>
   </div>