{literal}
<script language="javascript" src="js/contact_us.js"></script>
   

<script language="javascript">

function CheckFields()
{
   /*if(jQuery("#rate").isEmpty())
    	 jQuery("#rate").attr('style','border:1px solid #FF0000');*/
//   if(document.getElementById('user_type').value==1)	{ 		 	 		 		 		 		 
//	  if(!jQuery("#paypal_email_id").emailCheck() || document.getElementById('paypal_email_id').value=='' ) 
//	   {
//		jQuery('#FormErrorMsg').show();
//		jQuery('#FormErrorMsg').html("Please Enter a Valid paypal email");
//		return false;
//	   }
//   }
  if(document.getElementById('user_type').value==2)	{ 		 	 		 		 		 		 
	  if(document.getElementById('rate').value=='' ) 
	   {
		
		jQuery('#FormErrorMsg').show();
		jQuery('#FormErrorMsg').html("Please Enter a Valid budget");
	
		return false;
	   }
  }
  if(document.getElementById('name').value=='')
   {
    jQuery('#FormErrorMsg').show();
    jQuery('#FormErrorMsg').html("Please enter your name");
	//jQuery('#FormErrorMsg').fadeOut(2000);
    return false;
   }
  
      
  
   if(document.getElementById('avail_L') && document.getElementById('avail_L').checked == true)
   {
      if(document.getElementById('availability_city').value=='')
	  {
	    jQuery('#FormErrorMsg').show();
		jQuery('#FormErrorMag').html("Please enter city");
		jQuery('#availability_city').attr('style','border:1px solid #FF0000');
		return false; 
	  }	
	 
   }	
//   if(document.getElementById('is_coach').value==1)
//   {
//        if(!jQuery("#paypal_email_id").emailCheck() || document.getElementById('paypal_email_id').value=='' ) 
//		   {
//				jQuery('#FormErrorMsg').show();
//				jQuery('#FormErrorMsg').html("Please Enter a Valid paypal email");
//				jQuery("#paypal_email_id").attr('style','border:1px solid #FF0000');
//				return false;
//		   }
//     
//   }
   if(jQuery('#Upload').val()!='')
  {
    //check it's extension
	 var status1,status2,status3,status4;
	 var str = jQuery('#Upload').val();
	 str = str.toLowerCase(); 
	 status1 = str.indexOf('.jpg'); 
	 status2 = str.indexOf('.jpeg'); 
	 status3 = str.indexOf('.gif'); 
	 status4 = str.indexOf('.png'); 
    if(status1== -1 && status2== -1 && status3== -1 && status4== -1 ) 
	{
		jQuery('#FormErrorMsg').show();
		jQuery('#FormErrorMsg').html("* Wrong Image Format.");
		//jQuery('#FormkErrorMsg').fadeOut(3000);
		jQuery('#Upload').val('');
		return false;
    }
	//Check Image Size
	
  }
  document.getElementById("editprofileForm").submit();
  //return true;
 
}
function showhide_div()
{
	var chk = document.getElementById('avail_L').checked == true
	if(document.getElementById('avail_L').checked == true)
	{  
	  jQuery('#avail_city').show();
	  jQuery('#availability_city').show();
	 
	}
	if(document.getElementById('avail_L').checked == false)
	{  		
	  jQuery('#avail_city').hide();
	  jQuery('#availability_city').hide();
	}  			
} 
function keyCheck(eventObj, obj)
{
    var keyCode
 
    // Check For Browser Type
    if (document.all){
        keyCode=eventObj.keyCode
    }
    else{
        keyCode=eventObj.which
    }
  //alert(keyCode)
    var str=obj.value
 
    if(keyCode==46){
        if (str.indexOf(".")>0){
            return false
        }
    }
 
    if((keyCode<46 || keyCode >57)   &&   (keyCode >31)){ // Allow only integers and decimal points
        return false
    }
    
    return true
}


function limitText(limitField, limitCount, limitNum) {
	if (limitField.value.length > limitNum) {
		limitField.value = limitField.value.substring(0, limitNum);
	} else {
		limitCount.value = limitNum - limitField.value.length;
	}
}


   
</script>

{/literal}
<div align="right">
	{if $is_coach eq '0'}
	<!--label>Become a Coach :</label> <input type="radio" name="user_type" value="1" onclick="coach_game()" /-->
	<a class="button" href="coach_game_update.php?profile=Y"><span>Become a Coach</span></a>
	{/if}
	{if $is_partner eq '0'}
	<a class="button" href="training_partner_game_update.php?profile=Y">Become Training Partner</a>
	<!--label>Become a Training Partner :</label> <input type="radio" name="user_type" value="3" onclick="tp_game()"/-->
	{/if} 
</div>
<div class="content">
   	<!-- tab -->
    <ul class="tabflex">
       	<li><a href="schedule.php"><span>Schedule</span></a></li>
        <li><a href="messages.php"><span>Messages</span></a></li>
		<li><a href="profile.php" class="active"><span>Profile</span></a></li>
		{if $is_coach eq '1'}<li><a href="coach_game.php"><span>Coach</span></a></li>{/if}
		{if $is_partner eq '1'}<li><a href="training_partner_game.php"><span>Training Partner</span></a></li>{/if}
		<li><a href="cashier.php"><span>Cashier</a></li>
         
        </ul>
        <!-- tab -->
        <div class="clear"></div>
        <div class="tabular-content"> 
		<div class="total-message">&nbsp;&nbsp;</div>
		<div class="clear"></div>                     
        <div>
		<div class="register" style="margin-top: 20px">
		<div id='FormErrorMsg' style="color:red; text-align:center; padding-bottom:10px;">{if $ermsg neq ''} {$ermsg}{/if} </div>
		<form name="editprofileForm" id="editprofileForm" enctype="multipart/form-data" method='post'>
			<input type="hidden" name="oldphoto" value="{$Formval.photo}">
			<input type="hidden" name="is_coach" id="is_coach" value="{$is_coach}" />
			<input type="hidden" name="is_partner" id="is_partner" value="{$is_partner}" />
			<input type="hidden" name="submitForm" value="submitForm" />
			<fieldset>
				<label>Username:</label>
                                <input name="name" disabled="true" id="name" type="text" value="{$Formval.username}" class="con-req" />
				<input type="hidden" name="user_type" id="user_type" value="{$user_type}" />
				
				<p class="clear"></p>
				
				{if $Formval.photo neq ''}<label>&nbsp; </label><img src="uploaded/user_images/thumbs/small_{$Formval.photo}">
				<p class="clear"></p>
				<br />
				{/if}
				<label>Photo:</label>
				<input type="file" name="upload" id="Upload" accept="image/gif,image/jpeg,image/x-png" />
				
				<p class="clear"></p>
				<label>Language:</label>
				<select id="s2" multiple="multiple" name="language[]" class="selectbox" style="height: 120px">
				{section name=lang loop=$langArr}
				 <option value="{$langArr[lang].language_id}" {if in_array($langArr[lang].language_id,$language_ids)} selected="selected" {/if}>{$langArr[lang].language_name}</option>
				{/section}
				</select>
                                
                                <p class="clear"></p>
                                <label>Timezone:</label>
                                <select name="tz" id="tz" tabindex="7" class="autowidth" style="width: 300px;">
                                    {foreach from=$tz_zones key=k item=v}
                                       <option {if $k==$Formval.time_zone}selected{/if} value="{$k}">{$v}</option>
                                    {/foreach}
                                </select>
                                
				<p class="clear"></p>
				{if $is_coach eq '1' || $is_partner eq '1'}
				 <label>Availability:</label>
				 <input type="checkbox" name="availability_type1" class='check' value="O" {if $Formval.availability_type1 eq 'O'} checked="checked"{/if} />
				 <label class='chklabel'>Online</label>
				 <input type="checkbox" name="availability_type2" class='check' id="avail_L" onclick="showhide_div()" value="L" {if $Formval.availability_type2 eq 'L'}  checked="checked"{/if} /><label class='chklabel'>Local</label>
				<p class="clear"></p>
				
				<label id="avail_city" {if $Formval.availability_type2 =='L'} {else} style='display:none' {/if}>Availability City :</label>
				<div class="ausu-suggest">
				<input name="availability_city" id="availability_city" type="text" value="{$Formval.availabilitycity_name}" class="con-req" {if $Formval.availability_type2 =='L'} {else} style='display:none' {/if}/>
				<input name="acityid" id="acityid" type="hidden"  value="{$Formval.availability_city}" autocomplete="off" />
				</div>
				
				<p class="clear"></p>
				{/if}
				
				<p class="clear"></p>
				<label>&nbsp;</label>
				<a class="button" href="javascript:;" style="" onclick="return CheckFields()">Update</a>
				<a class="button" href="profile.php" style="" onclick="">Cancel</a>
			
			</fieldset>
		</form>
      </div>
	  {literal}
       <script type="text/javascript">
        
            //jQuery("#s2").dropdownchecklist({ width: 150 });
            //jQuery("#s4").dropdownchecklist({ maxDropHeight: 120 });
             <!-- AUTOCOMPLETE -->
			 jQuery.fn.autosugguest({  
				   className: 'ausu-suggest',
				  methodType: 'POST',
					minChars: 2,
					  rtnIDs: true,
					dataFile: 'autocomplete.php?action=populateCity'
			});
        
    </script>
	{/literal}
     <iframe width=132 height=142 name="gToday:contrast:agenda.js" id="gToday:contrast:agenda.js" src="sitemanager/DateRange/ipopeng.htm" scrolling="no" frameborder="0" style="visibility:visible; z-index:999; position:absolute; left:-300px; top:0px;"></iframe>  
      
     </div>
     </div>
    </div>
<script language="javascript">
       changePageTitle('Edit profile');
</script>