<div class="">
	<div class="title" style="margin-bottom: 25px;">{$faq.cms_title}</div>
	<div>{$faq.cms_description}</div>	
</div>
<script language="javascript">
       changePageTitle('Support');
</script>