{literal}
<script type="text/javascript">
function loadForum(){
	jQuery('#chironForumWrapper').attr('height',(window.innerHeight-35));
	jQuery('#chironForumWrapper').attr('width',window.innerWidth);
}
</script> 
{/literal}
<div class="right-panel">
	<iframe name="chironForumWrapper" id="chironForumWrapper" frameborder="0" src="/forum" height="1" width="1" scrolling="auto"></iframe>
	{literal}
	<script type="text/javascript">
		loadForum();
		jQuery(window).resize(function() {
              loadForum();
            });
	</script> 
	{/literal}
</div>