<div class="left-panel-inner">
   <div class="graphite demo-container">
	<ul class="accordion" id="accordion-1">
	{if $Numgame>0}
	  {section name=game loop=$gameArr}
	   <li><a href="replays.php?game_id={$gameArr[game].game_id}">{$gameArr[game].game_name}</a>
	   </li>
	  {/section}
	{/if}    
      </ul>
  </div> 
   <div class="advertise" style="overflow:hidden;">
       <h2 title="Advertisement"></h2>
	   {section name=ads loop=$adArr}
	   {if $adArr[ads].ads_type eq '1'}
          {$adArr[ads].ads_code|stripslashes}
	   {else}
          <a href="{$adArr[ads].ads_link}"><img src="uploaded/ads_images/{$adArr[ads].ads_banner}" /></a>
	   {/if}
	   {/section}
   </div>  
 </div>