<div id="paging"> 
{literal}
<script type="text/javascript">
function redirect_function(id)
{
//alert(id);
  document.forms["videoform"+id].submit();
}
</script>
{/literal}
<div class="content">
   		
		{* Start loading Tabs *}
		{include file='user_tabs.tpl' active_tab='videos'}
		{* End loading Tabs *}
		
        <div class="clear"></div>
        <div class="tabular-content"> 
		 <div class="tab_sub">
            	<ul>
                	<li><a href="upload_videos.php" class="active">Upload Videos</a></li>
                    <li><a href="javascript:;" >Liked Videos</a></li>
                </ul>
            </div> 
		 <div class="clear"></div>
	  {if $NumReplay >0}
	  <div>
      <div class="profile-list">
	  {section name=videoRow loop=$LikeArr}
	   	 <form name="videoform{$LikeArr[videoRow].video_id}" id="videoform{$LikeArr[videoRow].video_id}" method="post" 
			action="videodetails.php?video_id={$LikeArr[videoRow].video_id}">
				<input type="hidden" name="game_id" value="{$LikeArr[videoRow].game_id}"  />
				
		  {assign var='v' value=$smarty.section.videoRow.index+1}
		  <div id="deldiv_{$LikeArr[videoRow].video_id}" >
			 <div {if $v%4 eq '0'}class="games-replay-last"{else}class="games-replay"{/if}>
			   <div class="replay-content"  >
			    <a href="#" onclick="redirect_function({$LikeArr[videoRow].video_id})">
			   <img src="uploaded/video_images/thumbs/mid_{$LikeArr[videoRow].video_image}" alt="" border="0" /></a>
			   
			   </div>
			   <!--<div class="replay-content">
				  <div class="replay-title">
				  <a href="#" onclick="redirect_function({$LikeArr[videoRow].video_id})">{$LikeArr[videoRow].video_title}</a>
				  <br /><span class="date">{$LikeArr[videoRow].video_date}<br />
				  Duration : {if $LikeArr[videoRow].time_length neq ''}{$LikeArr[videoRow].time_length} min{else}N/A{/if}
				  </span></div>
				 <!--  {if $LikeArr[videoRow].user_id neq $smarty.session.user_id && $smarty.session.user_id neq ''}
				  <div id="game-rating_{$LikeArr[videoRow].video_id}">			 
				  <a href="javascript:;" onclick="return LikeVideo({$LikeArr[videoRow].user_id},{$LikeArr[videoRow].video_id},'{$LikeArr[videoRow].like}',{$LikeArr[videoRow].numlike})">
				  <div class="game-rating">{if $LikeArr[videoRow].like eq 'Y'} <img alt="Unlike" src="images/unlike.png"> {else} <img alt="Like" src="images/like.png"> {/if}</div>  
				  </a>      
				  </div>  
				  {/if}-->
				   <!-- <div class="game-rating">
					<strong>Likes</strong>&nbsp;{$LikeArr[videoRow].numlike}
					<span id="votes_{$LikeArr[videoRow].video_id}"></span>
					<br />
					<strong>Unlikes</strong>&nbsp;{$LikeArr[videoRow].numunlike}
					<span id="votes_{$LikeArr[videoRow].video_id}"></span>
					</div>        			
				  View Count : {$LikeArr[videoRow].view_count}	  
                  <div class="replay-title" style="padding-top:0px; width:90%"><span class="date">Uploaded by <em>{$LikeArr[videoRow].user}</em></span></div>
                 
			   </div>-->
			   
			   
			   <div class="replay-content">
				  <div class="replay-title">
				  <a href="#" onclick="redirect_function({$LikeArr[videoRow].video_id})">{$LikeArr[videoRow].video_title}</a>
				  <br /><span class="date">{$LikeArr[videoRow].video_date}<br />
				  {if $LikeArr[videoRow].time_length neq ''}{$LikeArr[videoRow].time_length} min{else}N/A{/if}
				  </span></div>
				  <!--{if $ReplayArr[videoRow].user_id neq $smarty.session.user_id && $smarty.session.user_id neq ''}
				  <div id="game-rating_{$ReplayArr[videoRow].video_id}">			 
				  <a href="javascript:;" onclick="return LikeVideo({$ReplayArr[videoRow].user_id},{$ReplayArr[videoRow].video_id},'{$ReplayArr[videoRow].like}',{$ReplayArr[videoRow].numlike})">
				  <div class="game-rating">{if $ReplayArr[videoRow].like eq 'Y'} <img alt="Unlike" src="images/unlike.png"> {else} <img alt="Like" src="images/like.png"> {/if}</div>  
				  </a>      
				  </div>  
				  {/if} -->
				    <div class="game-rating">
					<strong>Likes :</strong>&nbsp;{$LikeArr[videoRow].numlike}
					<!--<span id="votes_{$ReplayArr[videoRow].video_id}"></span>-->
					<br />
					<strong>Disikes :</strong>&nbsp;{$LikeArr[videoRow].numunlike}
					<br />
					<strong>Views :</strong>&nbsp;{$LikeArr[videoRow].view_count}  
					
					<!--<span id="votes_{$ReplayArr[videoRow].video_id}"></span>-->
					</div> 
					<br  />
				         					
                  <div class="replay-title" style="padding-top:0px; width:90%"><span class="date">by <em>{$LikeArr[videoRow].user}</em></span></div>
                 
			   </div>
			   
			   
			 </div>		 	 
		  {if $v%4 eq '0'}<div class="clear"></div>{/if}
		   </div>
		  </form>	 
        {/section}
       <div class="clear"></div>
      </div>
      {if $pagination_arr[1]}
      <div class="clear"></div>
      <div class="pagin">
         <ul>
            {$pagination_arr[1]}
         </ul>
      </div>
	  {/if}
	  <div class="clear"></div> 
	 {else}
	   <div align="left" style="padding:10px;">No record found</div>
     {/if}
    </div>
  </div>
 </div> 