<!--object >
    <param name="allowfullscreen" value="true" /><param name="wmode" value="opaque" />
    <param name="allowscriptaccess" value="always" />
    <param name="movie" value="uploaded/videos/{$VdoArr.video_file}&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" />
    <embed src="uploaded/videos/{$VdoArr.video_file}" type="application/x-shockwave-flash" allowfullscreen="true" wmode="opaque" allowscriptaccess="always" width="504" height="412"></embed></object-->
<OBJECT ID="MediaPlayer" width="504" height="412" CLASSID="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
STANDBY="Loading Windows Media Player components..." TYPE="application/x-oleobject">
<PARAM NAME="FileName" VALUE="uploaded/videos/{$VdoArr.video_file}">
<PARAM name="ShowControls" VALUE="true">
<param name="ShowStatusBar" value="false">
<PARAM name="ShowDisplay" VALUE="false">
<PARAM name="autostart" VALUE="false">
<EMBED TYPE="application/x-mplayer2" SRC="uploaded/videos/{$VdoArr.video_file}" NAME="MediaPlayer"
WIDTH="504" HEIGHT="412" ShowControls="1" ShowStatusBar="0" ShowDisplay="0" autostart="0"> </EMBED>
</OBJECT>