<div class="howWorksText">
    <div style="margin: 10px;">
	<h2>{$privacypolicy.cms_title}</h2>
	<div>{$privacypolicy.cms_description}</div>	
    </div>
</div>
<script language="javascript">
       changePageTitle('Privacy Policy');
</script>