 {literal}
<script language="javascript" type="text/javascript">

function CheckFields()
{
  if(document.getElementById('game_id').value=='' ) 
   {
    jQuery('#FormErrorMsg').show();
    jQuery('#FormErrorMsg').html("Please select a game");
	//jQuery('#FormFieldCheckErrorMsg').fadeOut(2000);
    return false;
   }
  return true;
}  

</script>
{/literal}

 <div class="right-panel">
      <div class="findstudent-title"><h1 title="Profile"><span>Registration</span></h1>
        <div class="breadcrumb">Step2</div>
        <div class="clear"></div>
	  </div>
      <div class="register" style="margin-top:10px;">
	  <form name="contact" id="Contact" enctype="multipart/form-data" method='post' action="registration_type.php">
	   <fieldset>
	  <p align="left">Basic registration complete . You are now a Student at Noobskool. You may proceed to the site by choosing the first button.</p>
	  <div class="registration-student1">
       
         <div class="register-txt"><p><img src="images/student.png" align="absmiddle" />&nbsp;You are now a student
		  <input type="radio" name="user_type1" value="2" checked="checked"> 
		 </p></div>
		 
      </div>
	  <div class="registration-coach1">
       
         <div class="register-txt"><p>
		<img src="images/coach.png" align="absmiddle" /> &nbsp;Become a Coach<input type="radio" name="user_type" value="1">
		 </p></div>
		 
      </div>
	  <div class="registration-partner1">
       
         <div class="register-txt"><p>
		<img src="images/partener.png" align="absmiddle" />&nbsp;Training Partner <input type="radio" name="user_type" value="3"> 
		 </p></div>
		
      </div>
	  <div class="clear"></div>
	  <div class="registration-message"  style="color:#FF0000;margin-top:10px; font-size:16px;">
	  You want to become all three? No problem. You can do so on your Dashboard to become a Coach or Training partner anytime!
	  </div>
	  <br />
	   <label>&nbsp;</label>
            <input name="submit" class="submit" value="Submit" type="submit" />
            <input name="" class="cancel" value="Reset" type="reset" />
	  </fieldset>	
	  </form>	
      </div>
           
      
      
      <div class="clear"></div>
   </div>