<div class="video-right">
     <h4>Related Videos</h4>
	 {section name=relRow loop=$RelvdoRow}
    <div class="related-videos">
     <div class="videosm-img">
        <a href="videodetails.php?video_id={$RelvdoRow[relRow].video_id}">
		<img src="uploaded/video_images/thumbs/mid_{$RelvdoRow[relRow].video_image}" alt="" border="0" height="95" width="190">
		</a>
     </div>
     <div class="related-video-desc">
     <h3><a href="videodetails.php?video_id={$RelvdoRow[relRow].video_id}">{$RelvdoRow[relRow].video_title}</a></h3>
     <span class="rtitle">by <em><a href="coachdetails.php?coach_id={$RelvdoRow[relRow].user_id}" style="text-decoration:none;">{$RelvdoRow[relRow].user}</a></em><br>
     {$RelvdoRow[relRow].view_count} views
     </span>
     </div>
    </div>
	{/section}
 </div>
 {if $FromPage eq 'videodetails'}
 </div>
 {/if}