<div id="paging">
<div class="right-panel">
      <h1 title="My Game"><span>My Games</span></h1>
      <div class="clear"></div>
	  <p class="button-flex button90"><a href="student_game_update.php"><span>Add Game</span></a></p>
	 {if $Numstudentgame >0}
	  {section name=gameRow loop=$StudentgameArr}
      <div class="game-list">
       <div>
	        <h2>{$StudentgameArr[gameRow].game}</h2>
			
			<p class="clear"></p>
            <!--p style="padding-top:5px;">{$StudentgameArr[gameRow].comment}</p-->
			  
			<p style="padding-top:5px;"><b>Experience : </b>{if $StudentgameArr[gameRow].experience neq ''}{$StudentgameArr[gameRow].experience}{else}N/A{/if}</p>
            <p class="clear"></p>
            <div style="height:10px;"></div>
            <div class="clear"></div>
            <div><div class="view">
			<a href="#" 
			onclick="ConfirmDelete('{$page_name}?action=del','{$StudentgameArr[gameRow].user_game_id}','{$StudentgameArr[gameRow].game}','Your selected game:: ')">Delete</a></div>
			<div class="view" style="margin-right:5px;">
			<a href="student_game_update.php?user_game_id={$StudentgameArr[gameRow].user_game_id}">Edit</a></div></div>
         </div>
         <div class="clear"></div>
         <br />
      </div>
      {/section}
	  {else}
	    <div class="game-details"> No game found </div>
     {/if}
      <div class="clear"></div>
   </div>
 </div>     