<div class="howWorksText">
    <div style="margin: 10px;">
	<h2>{$termsconditions.cms_title}</h2>
	<div>{$termsconditions.cms_description}</div>	
    </div>
</div>
<script language="javascript">
       changePageTitle('Terms & Conditions');
</script>