<div class="right-panel">
      <div ><h1 title="My Game">Timings</h1></div>
      <div class="clear"></div>
	  <div class="view"><a href="timing_update.php">Add</a></div>
	 {if $Numtime >0}
	  {section name=timeRow loop=$timeArr}
      <div class="game-list">
       <div class="game-details">
	        <div>Time Slot : {$timeArr[timeRow].slot}</div>
			
			<div style="padding-top:5px;">Time: {$timeArr[timeRow].time_from} - {$timeArr[timeRow].time_to}</div>
           
            <div class="clear"></div>
            <div style="width:100%"><div class="view"><a href="timing.php?action=delete&timing_id={$timeArr[timeRow].timing_id}">Delete</a></div>
			<div class="view" style="margin-right:5px;"><a href="timing_update.php?timing_id={$timeArr[timeRow].timing_id}">Edit</a></div></div>
         </div>
         <div class="clear"></div>
      </div>
      {/section}
	  {else}
	    <div class="game-details"> No game found </div>
     {/if}
      <div class="clear"></div>
      
   </div>